CREATE KEYSPACE IF NOT EXISTS {{ content_keyspace_name }} WITH replication = {
  'class': 'SimpleStrategy',
  'replication_factor': '1'
};

CREATE TABLE IF NOT EXISTS {{ content_keyspace_name }}.content_data (
  content_id text, 
  last_updated_on timestamp,
  body blob,
  oldBody blob,
  stageIcons blob,
  screenshots blob,
  PRIMARY KEY (content_id)
);

CREATE KEYSPACE IF NOT EXISTS {{ orchestrator_keyspace_name }} WITH replication = {
  'class': 'SimpleStrategy',
  'replication_factor': '1'
};

CREATE TABLE IF NOT EXISTS {{ orchestrator_keyspace_name }}.script_data (
  name text,
  type text,
  reqmap text,
  PRIMARY KEY (name)
);

CREATE TABLE IF NOT EXISTS {{ content_keyspace_name }}.question_data (
  question_id text, 
  last_updated_on timestamp,
  body blob,
  PRIMARY KEY (question_id)
);

CREATE KEYSPACE IF NOT EXISTS {{ hierarchy_keyspace_name }} WITH replication = {
  'class': 'SimpleStrategy',
  'replication_factor': '1'
};

CREATE TABLE IF NOT EXISTS {{ hierarchy_keyspace_name }}.content_hierarchy (
  identifier text,
  hierarchy text,
  PRIMARY KEY (identifier)
);

CREATE TABLE IF NOT EXISTS {{ hierarchy_keyspace_name }}.framework_hierarchy (
  identifier text,
  hierarchy text,
  PRIMARY KEY (identifier)
);

ALTER TABLE {{ content_keyspace_name }}.question_data ADD (editorState blob, question blob, solutions blob);

ALTER TABLE {{ content_keyspace_name }}.content_data ADD (externallink text);


{% if groups['cassandra-node-2'] is defined %}
ALTER KEYSPACE {{ content_keyspace_name }} WITH replication = {
  'class': 'NetworkTopologyStrategy',
  'datacenter1' : 2
};

ALTER KEYSPACE {{ hierarchy_keyspace_name }} WITH replication = {
  'class': 'NetworkTopologyStrategy',
  'datacenter1' : 2
};

ALTER KEYSPACE {{ orchestrator_keyspace_name }} WITH replication = {
  'class': 'NetworkTopologyStrategy',
  'datacenter1' : 2
};
{% endif %}


CREATE TRIGGER content_data_trigger ON {{ content_keyspace_name }}.content_data USING 'org.sunbird.cassandra.triggers.TransactionEventTrigger';
CREATE TRIGGER question_data_trigger ON {{ content_keyspace_name }}.question_data USING 'org.sunbird.cassandra.triggers.TransactionEventTrigger';
CREATE TRIGGER framework_hierarchy_trigger ON {{ hierarchy_keyspace_name }}.framework_hierarchy USING 'org.sunbird.cassandra.triggers.TransactionEventTrigger';
CREATE TRIGGER content_hierarchy_trigger ON {{ hierarchy_keyspace_name }}.content_hierarchy USING 'org.sunbird.cassandra.triggers.TransactionEventTrigger';
