CREATE KEYSPACE IF NOT EXISTS {{ dialcode_keyspace_name }} WITH replication = {
  'class': 'SimpleStrategy', 
  'replication_factor': '1'
};

CREATE TABLE IF NOT EXISTS {{ dialcode_keyspace_name }}.dial_code (
  identifier text,
  dialcode_index double,
  publisher text,
  channel text,
  batchCode text,
  metadata text,
  status text,
  generated_on text,
  published_on text, 
  PRIMARY KEY (identifier)
);

CREATE TABLE IF NOT EXISTS {{ dialcode_keyspace_name }}.system_config (
  prop_key text,
  prop_value text,
  PRIMARY KEY (prop_key)
);

INSERT INTO {{ dialcode_keyspace_name }}.system_config(prop_key,prop_value) values('dialcode_max_index','1') IF NOT EXISTS;

CREATE TABLE IF NOT EXISTS {{ dialcode_keyspace_name }}.publisher (
  identifier text,
  name text,
  channel text,
  created_on text,
  updated_on text,
  PRIMARY KEY (identifier)
);

{% if groups['cassandra-node-2'] is defined %}
ALTER KEYSPACE {{ dialcode_keyspace_name }} WITH replication = {
  'class': 'NetworkTopologyStrategy',
  'datacenter1' : 2
};
{% endif %}