<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="DefaultLogAppender" fileName="/data/logs/config_service_mw.log"
			filePattern="/data/logs/config_service_mw-%d{MM-dd-yyyy-hh}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="250 MB" />
				<TimeBasedTriggeringPolicy interval="24" modulate="true" />
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="config_service_mw-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingFile>
		<RollingRandomAccessFile name="TelemetryEventAppender" fileName="/data/logs/config_telemetry_event_mw.log"
			filePattern="/data/logs/config_telemetry_event_mw-%d{MM-dd-yyyy-hh}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="250 MB" />
				<TimeBasedTriggeringPolicy interval="24" modulate="true" />
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="config_telemetry_event_mw-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Logger name="DefaultPlatformLogger" level="INFO" additivity="false">
			<AppenderRef ref="DefaultLogAppender" />
		</Logger>
		<Logger name="TelemetryEventLogger" level="INFO" additivity="false">
			<AppenderRef ref="TelemetryEventAppender" />
		</Logger>
	</Loggers>
</Configuration>