<ion-pane>
    <ion-content>
        <div id="bookshelf_slider" class="bookshelf_slider">

            <div class="panel_title">
                <div class="selected_title_box"><div class="selected_title">Selected Title</div></div>
                <a href="javascript:void(0)" ng-click="exitApp()" class="button button-clear" style="float: right; color: #000">
                    <i class="icon ion-close-circled"></i>
                </a>
                <a href="javascript:void(0)" ng-click="showAboutUsPage()" class="button button-clear" style="float: right; color: #000">
                    <i class="icon ion-information-circled"></i>
                </a>
                <button ng-click="resetContentListCache()" class="button button-clear icon ion-android-refresh" style="float:right; color:#000;"></button>

            </div><!-- .panel_title -->
            
            <div class="panel_slider">
                <div class="panel_items">
                    <div class="slide_animate">
                        <div class="products_box" id="products_box_1">
                            <div class="product" data-type="" title="{{story.name}}" ng-repeat="story in stories track by $index" ng-click="playContent(story);">
                                <img data-ng-src="{{story.appIcon}}" alt="" width="120" height="130" />
                            </div>
                        </div>
                    </div>

                    <div class="slide_animate">
                        <div class="products_box" id="products_box_2">
                            <div class="product" data-type="" title="{{worksheet.name}}" ng-repeat="worksheet in worksheets track by $index" ng-click="playContent(worksheet);">
                                <img data-ng-src="{{worksheet.appIcon}}" alt="" width="120" height="130" />
                            </div>
                        </div>
                    </div>
                </div><!-- panel_items -->
            </div><!-- panel_slider -->
            
            <div class="panel_bar">
                <div class='buttons_container'>
                    <div id="arrow_box"><div id="arrow_menu"></div></div>
                    <div class="button_items">
                        <div id="btn1" class="button_bar"><a href="#"><div style="height: 65px; width:45px;">Stories</div></a></div>
                        <div id="btn2" class="button_bar"><a href="#"><div style="height: 65px; width:75px;">Worksheets</div></a></div>
                    </div>
                </div>
            </div>
            
        </div>

    </ion-content>
</ion-pane>

<script id="about.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-energized">
        <h1 class="title">EkStep Content App</h1>
        <button class="button button-clear icon ion-ios-home" ng-click="hideAboutUsPage()"></button>
    </ion-header-bar>
    <ion-content padding="true">
        <div class="item item-text-wrap">
            <div><img src="assets/about_us_banner.jpg" style="width: 200px;"/></div>
            <div>EkStep Content App can be used to play any content whose narrative and interactivity is governed by the EkStep Content Markup Language (ECML).</div>
        </div>
        <div class="item">
            <div style="float: left; width: 50%">
                <b>Version:</b><br/>
                0.2
            </div>
            <div style="float: left; width: 50%">
                <b>Age:</b><br/>
                5+ Years
            </div>
        </div>
        <div class="item">
            <div style="float: left; width: 50%">
                <b>Offered By:</b><br/>
                EkStep<br/>
            </div>
            <div style="float: left; width: 50%">
                <b>Contact:</b><br/>
                Email: contact@ekstep.org
            </div>
        </div>
        <div class="item">
            <div style="margin-bottom: 5px;"><b>Environment</b></div>
            <div>
            <ion-radio ng-repeat="item in environmentList"
                   ng-value="item.value"
                   ng-model="selectedEnvironment.value"
                   ng-change="changeEnvironment(item)"
                   name="selected-environment">
                {{item.text}}
            </ion-radio>
            </div>
        </div>
    </ion-content>
  </ion-modal-view>
</script>

<div id="loadingDiv" style="margin:auto; position:absolute;width:100%;height:100%; background-color: #fff; z-index: 1000;">
    <div style="margin: auto; width: 100%; position: fixed; text-align: center; top: 50%; font-weight: bold;">
        <ion-spinner icon="bubbles"></ion-spinner>
        <div style="margin: auto; width: 100%; position: fixed; text-align: center; font-weight: bold;">
            Loading...
        </div>
    </div>
</div>
<div id="errorDiv" style="margin:auto; position:absolute;width:100%;height:20%; bottom:105px; z-index: 1000;" ng-show="showMessage">
    <div style="margin: auto; width: 100%; position: fixed; text-align: center; bottom:105px; font-weight: bold;">
        <div ng-bind-html="message" style="margin: auto; width: 100%; position: fixed; text-align: center; font-weight: bold;">
        </div>
    </div>
</div>