<ion-popover-view class="fit">
    <ion-content scroll="false">
        <div class="list">
            <div class="item menu-item">
                <i class="icon ion-email"></i>
            </div>
            <div class="item menu-item">
                <i class="icon ion-chatbubble-working"></i>
            </div>
            <div class="item menu-item">
                <i class="icon ion-mic-a"></i>
            </div>
            <div class="item menu-item">
                <i class="icon ion-person-stalker"></i>
            </div>
        </div>
    </ion-content>
</ion-popover-view>