NEO4J_HOME1=/home/ec2-user/neo4j/neo4j-community-2.2.0
NEO4J_HOME2=/home/ec2-user/neo4j/neo4j-community-3.0.4
cp -r /data/graphDB/* /home/ec2-user/neo4j/backups/

cd /data/graphDB                 #move inside th folder
#*****************************************************
for file in *                        
do
	  cp -r /data/graphDB/$file $NEO4J_HOME1/data/
    mv $NEO4J_HOME1/data/$file $NEO4J_HOME1/data/graph.db
	  cd $NEO4J_HOME1/bin
     ./neo4j start 
     sleep 10
     ./neo4j-shell -c  "export-graphml -o /home/ec2-user/neo4j/graphmls/$file.graphml"
      ./neo4j stop
      sleep 10
    rm -rf $NEO4J_HOME1/data/graph.db
     cd $NEO4J_HOME2/bin
     ./neo4j start 
     sleep 10
      ./neo4j-shell -c "import-graphml -i /home/ec2-user/neo4j/graphmls/$file.graphml -t -c"  
       mv $NEO4J_HOME2/data/databases/graph.db $NEO4J_HOME2/data/databases/$file
     rm -rf /data/graphDB/$file
       mv $NEO4J_HOME2/data/databases/$file /data/graphDB/
      ./neo4j stop

 done

