swagger: '2.0'
info:
  version: 2.0.0
  title: Domain Model API
  description: >-
    Domain model encapsulates the WHAT TO TEACH (Dimensions and Concepts) and
    HOW TO TEACH (Methods) aspects of learning platform. Concepts represent the
    generalized data structure to store Broad-Concept, Sub-Concept and
    Micro-Concepts. It is a recursive structure that allows the concepts to be
    organized into a hierarchical domain along with cross-links. For a details
    about the model see Learning Platform Domain Model
  license:
    name: EkStep License
host: api.ekstep.in
basePath: /v2
schemes:
  - https
securityDefinitions: {}
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: Domains
    description: Everything related to the Domian operations
  - name: Domain Objects
    description: Everything related to all Domain Objects & operations
paths:
  /domains:
    get:
      summary: gets All live Domains
      description: >-
        The _domain_ endpoint is used to get the list of domains available in
        the  _EkStep Platform_.This endpoint returns all domains that are
        defined in the platform
      operationId: domain.list
      produces:
        - application/json
      tags:
        - Domains
      responses:
        '200':
          description: gets All live Domains
          schema:
            type: object
            properties:
              header:
                title: SuccessResponseHeader
                type: object
                properties:
                  id:
                    type: string
                    description: API Identifier
                  ver:
                    type: string
                    description: API version information
                  ts:
                    type: string
                    description: API execution timespan
                  params:
                    description: API response parameters
                    title: Response Params
                    type: object
                    properties:
                      resmsgid:
                        type: string
                        description: Response Message Id
                      msgid:
                        type: string
                        description: Message Id
                      err:
                        type: string
                        description: Error Code
                      status:
                        type: string
                        description: Response Status
                      errmsg:
                        type: string
                        description: Error Message
                  responseCode:
                    type: object
                    description: 'API response code '
              body:
                title: details of all domains
                type: object
                properties:
                  identifier:
                    type: string
                    description: Domain Identifier
                  code:
                    type: string
                    description: code of the domain
                  children:
                    description: domain and its relations/children
                    properties:
                      identifier:
                        type: string
                        description: Domain Identifier
                      name:
                        type: string
                        description: specific domain childName
                      objectType:
                        type: string
                        description: objectType
                      relation:
                        type: string
                        description: realtion
                      description:
                        type: string
                        description: description
                      index:
                        type: string
                        description: index
                  subject:
                    type: string
                    description: domain subject
                  name:
                    type: string
                    description: domain name
                  description:
                    type: string
                    description: description about domain
                  status:
                    type: string
                    description: 'status about the domain eg: LIVE, RETIRED, DRAFT'
                  tags:
                    type: object
                    description: tags
                  dimension_count:
                    type: integer
                    description: number of dimensions under specified domain
                  misconception_count:
                    type: integer
                    description: number of misconceptions under specified domain
                  concept_count:
                    type: integer
                    description: number of concepts under specified domain
                  method_count:
                    type: integer
                    description: number of methods under specified domain
                  content_count:
                    type: integer
                    description: number of contents under specified domain
        '400':
          description: >-
            Error While fetching all domains! | Error occurred while operation,
            mostly because of the input given by client, In general it is
            'Client Exception'. To investigate the root cause first read through
            the 'err' field of response 'params' and go through the Wiki-Doc
            with title 'Domain Model Error Codes', after that read 'errmsg'
            field of response 'params' and go through the Wiki-Doc with title
            'Domain Model Error Messages' for the corresponding error messages.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While fetching all domains! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is
            'Server Exception' or 'Exception'. To investigate the root cause
            first read through the 'err' field of response 'params' and go
            through the Wiki-Doc with title 'Domain  Model Error Codes', after
            that read 'errmsg' field of response 'params' and go through the
            Wiki-Doc with title 'Domain Model Error Messages' for the
            corresponding error messages.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
  '/domains/{domainId}':
    get:
      summary: Gets details of specific domain
      description: >-
        The _domain/{domainId}_ endpoint with 'GET' method is used to fetch the
        domains from the _EkStep Platform_. This endpoint returns the entire
        domain Object with default fields. 
      tags:
        - Domains
      operationId: domain.info
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: Domain ID to query the details
          type: string
      responses:
        '200':
          description: Gets details of specific domain
          schema:
            type: object
            properties:
              header:
                title: SuccessResponseHeader
                type: object
                properties:
                  id:
                    type: string
                    description: API Identifier
                  ver:
                    type: string
                    description: API version information
                  ts:
                    type: string
                    description: API execution timespan
                  params:
                    description: API response parameters
                    title: Response Params
                    type: object
                    properties:
                      resmsgid:
                        type: string
                        description: Response Message Id
                      msgid:
                        type: string
                        description: Message Id
                      err:
                        type: string
                        description: Error Code
                      status:
                        type: string
                        description: Response Status
                      errmsg:
                        type: string
                        description: Error Message
                  responseCode:
                    type: object
                    description: 'API response code '
              body:
                title: details of all domains
                type: object
                properties:
                  identifier:
                    type: string
                    description: Domain Identifier
                  code:
                    type: string
                    description: code of the domain
                  children:
                    description: domain and its relations/children
                    properties:
                      identifier:
                        type: string
                        description: Domain Identifier
                      name:
                        type: string
                        description: specific domain childName
                      objectType:
                        type: string
                        description: objectType
                      relation:
                        type: string
                        description: realtion
                      description:
                        type: string
                        description: description
                      index:
                        type: string
                        description: index
                  subject:
                    type: string
                    description: domain subject
                  name:
                    type: string
                    description: domain name
                  description:
                    type: string
                    description: description about domain
                  status:
                    type: string
                    description: 'status about the domain eg: LIVE, RETIRED, DRAFT'
                  tags:
                    type: object
                    description: tags
                  dimension_count:
                    type: integer
                    description: number of dimensions under specified domain
                  misconception_count:
                    type: integer
                    description: number of misconceptions under specified domain
                  concept_count:
                    type: integer
                    description: number of concepts under specified domain
                  method_count:
                    type: integer
                    description: number of methods under specified domain
                  content_count:
                    type: integer
                    description: number of contents under specified domain
        '400':
          description: >-
            Error While fetching the Specific domain! | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While fetching specific domain! | Error occurred while
            operation, mostly because of erroneous condition on server, In
            general it is 'Server Exception' or 'Exception'.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
  '/domains/{domainId}?depth={depthValue}*':
    get:
      summary: Gets details of a specific domains from graph
      description: >-
        This API gets details of specific domain. The functionality of the API
        is identical to Domain Search, but differs in the data structure. The
        returned data structure is nodes and edges.
      tags:
        - Domains
      operationId: domain.graph
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: Domain ID to query the details
          type: string
        - name: depthValue
          in: path
          required: true
          description: depth
          type: number
      responses:
        '200':
          description: gets details about domainGraph
          schema:
            type: array
            items:
              type: object
              properties:
                header:
                  title: SuccessResponseHeader
                  type: object
                  properties:
                    id:
                      type: string
                      description: API Identifier
                    ver:
                      type: string
                      description: API version information
                    ts:
                      type: string
                      description: API execution timespan
                    params:
                      description: API response parameters
                      title: Response Params
                      type: object
                      properties:
                        resmsgid:
                          type: string
                          description: Response Message Id
                        msgid:
                          type: string
                          description: Message Id
                        err:
                          type: string
                          description: Error Code
                        status:
                          type: string
                          description: Response Status
                        errmsg:
                          type: string
                          description: Error Message
                    responseCode:
                      type: object
                      description: 'API response code '
                body:
                  title: details of all domains
                  type: object
                  properties:
                    identifier:
                      type: string
                      description: Domain Identifier
                    code:
                      type: string
                      description: code of the domain
                    children:
                      description: domain and its relations/children
                      properties:
                        identifier:
                          type: string
                          description: Domain Identifier
                        name:
                          type: string
                          description: specific domain childName
                        objectType:
                          type: string
                          description: objectType
                        relation:
                          type: string
                          description: realtion
                        description:
                          type: string
                          description: description
                        index:
                          type: string
                          description: index
                    subject:
                      type: string
                      description: domain subject
                    name:
                      type: string
                      description: domain name
                    description:
                      type: string
                      description: description about domain
                    status:
                      type: string
                      description: 'status about the domain eg: LIVE, RETIRED, DRAFT'
                    tags:
                      type: object
                      description: tags
                    dimension_count:
                      type: integer
                      description: number of dimensions under specified domain
                    misconception_count:
                      type: integer
                      description: number of misconceptions under specified domain
                    concept_count:
                      type: integer
                      description: number of concepts under specified domain
                    method_count:
                      type: integer
                      description: number of methods under specified domain
                    content_count:
                      type: integer
                      description: number of contents under specified domain
        '400':
          description: >-
            Error While fetching domain graph! | Error occurred while operation,
            mostly because of the input given by client, In general it is
            'Client Exception'. To investigate the root cause first read through
            the 'err' field of response 'params' and go through the Domain Model
            Wiki-Doc
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While fetching domain graph! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is
            'Server Exception' or 'Exception'.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
  '/domains/{domainId}/concepts':
    get:
      summary: gets list of concepts
      description: >-
        The _concept_ endpoint is used to get the list of concepts available in
        the  _EkStep Platform_.This endpoint returns all concepts that are
        defined in the platform
      tags:
        - Domain Objects
      operationId: domain.concept.list
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: Domain ID to query the details
          type: string
      responses:
        '200':
          description: Gets all Concepts of given domainId
          schema:
            type: array
            items:
              type: object
              properties:
                header:
                  title: SuccessResponseHeader
                  type: object
                  properties:
                    id:
                      type: string
                      description: API Identifier
                    ver:
                      type: string
                      description: API version information
                    ts:
                      type: string
                      description: API execution timespan
                    params:
                      description: API response parameters
                      title: Response Params
                      type: object
                      properties:
                        resmsgid:
                          type: string
                          description: Response Message Id
                        msgid:
                          type: string
                          description: Message Id
                        err:
                          type: string
                          description: Error Code
                        status:
                          type: string
                          description: Response Status
                        errmsg:
                          type: string
                          description: Error Message
                    responseCode:
                      type: object
                      description: 'API response code '
                body:
                  title: details of all concepts
                  type: object
                  properties:
                    name:
                      type: string
                      description: ''
                    code:
                      type: string
                      description: ''
                    keywords:
                      type: string
                      description: ''
                    status:
                      type: string
                      description: ''
                    gradeLevel:
                      type: string
                      description: ''
                    internalValidation:
                      type: string
                      description: ''
                    externalValidation:
                      type: string
                      description: ''
                    baseConceptId:
                      type: string
                      description: ''
                    expectedLearningTime:
                      type: number
                      description: Learning time in hours
                    applicability:
                      type: string
                      description: Application in real life
                    foundation:
                      type: string
                      description: ''
                    assessmentMethod:
                      type: string
                      description: ''
                    noOfGames:
                      type: number
                      description: ''
                    avgGamingTimeSpent:
                      type: number
                      description: ''
                    description:
                      type: string
                      description: ''
                    learningObjective:
                      type: string
                      description: ''
                    example:
                      type: string
                      description: ''
                    validators:
                      type: string
                      description: ''
                    references:
                      type: string
                      description: List of references
                    createdBy:
                      type: string
                      description: ''
                    createdOn:
                      type: string
                      description: ''
                    lastUpdatedBy:
                      type: string
                      description: ''
                    lastUpdatedOn:
                      type: string
                      description: ''
                    version:
                      type: number
                      description: ''
                    versionDate:
                      type: string
                      description: ''
                    versionCreatedBy:
                      type: string
                      description: ''
        '400':
          description: >-
            Error While fetching all Concepts ! | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'. To investigate the root cause first read
            through the 'err' field of response 'params' and go through the
            Domain Model Wiki-Doc
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While fetching all Concepts | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is
            'Server Exception' or 'Exception'.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
    post:
      summary: Create or update a new concept
      description: >-
        The _concept_ endpoint is used to create the concept into the _EkStep
        Platform_ with the metadata provided as part of request body, there are
        certain fields marked as mandatory for which the value has to be given
        in order to create the content into the platfrom, The _concept_ endpoint
        returns the node id as _node_id_ i.e. the identifier of created concept.
      tags:
        - Domain Objects
      operationId: domain.concept.save
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: domain for which all concepts are required
          type: string
        - name: Request
          in: body
          description: Concept Request Object which contains the concept object
          required: true
          schema:
            title: details of all concepts
            type: object
            properties:
              name:
                type: string
                description: ''
              code:
                type: string
                description: ''
              keywords:
                type: string
                description: ''
              status:
                type: string
                description: ''
              gradeLevel:
                type: string
                description: ''
              internalValidation:
                type: string
                description: ''
              externalValidation:
                type: string
                description: ''
              baseConceptId:
                type: string
                description: ''
              expectedLearningTime:
                type: number
                description: Learning time in hours
              applicability:
                type: string
                description: Application in real life
              foundation:
                type: string
                description: ''
              assessmentMethod:
                type: string
                description: ''
              noOfGames:
                type: number
                description: ''
              avgGamingTimeSpent:
                type: number
                description: ''
              description:
                type: string
                description: ''
              learningObjective:
                type: string
                description: ''
              example:
                type: string
                description: ''
              validators:
                type: string
                description: ''
              references:
                type: string
                description: List of references
              createdBy:
                type: string
                description: ''
              createdOn:
                type: string
                description: ''
              lastUpdatedBy:
                type: string
                description: ''
              lastUpdatedOn:
                type: string
                description: ''
              version:
                type: number
                description: ''
              versionDate:
                type: string
                description: ''
              versionCreatedBy:
                type: string
                description: ''
      responses:
        '200':
          description: Node ID created in the graph
          schema:
            description: Create Content Response
            type: object
            allOf:
              - title: Result Containing Node Id
                type: object
                properties:
                  result:
                    title: Node Id
                    type: object
                    properties:
                      node_id:
                        type: string
                        description: Node Identifier
              - title: SuccessResponseHeader
                type: object
                properties:
                  id:
                    type: string
                    description: API Identifier
                  ver:
                    type: string
                    description: API version information
                  ts:
                    type: string
                    description: API execution timespan
                  params:
                    description: API response parameters
                    title: Response Params
                    type: object
                    properties:
                      resmsgid:
                        type: string
                        description: Response Message Id
                      msgid:
                        type: string
                        description: Message Id
                      err:
                        type: string
                        description: Error Code
                      status:
                        type: string
                        description: Response Status
                      errmsg:
                        type: string
                        description: Error Message
                  responseCode:
                    type: object
                    description: 'API response code '
        '400':
          description: >-
            Error While Concept Creation! | Error occurred while operation,
            mostly because of the input given by client, In general it is
            'Client Exception'. To investigate the root cause first read through
            the 'err' field of response 'params' and go through the Domain Model
            Wiki-Doc 
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While Concept Creation! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is
            'Server Exception' or 'Exception'.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
  '/domains/{domainId}/concepts/{conceptId1}/{relationName}/{conceptId2}':
    delete:
      summary: Deletes relation between two existing concepts
      description: This API Deletes the given relation between two existing concepts
      tags:
        - Domain Objects
      operationId: domain.concept.delete
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: domain for which all concepts are required
          type: string
        - name: conceptId1
          in: path
          required: true
          description: ' Start node of the relation to be deleted'
          type: string
        - name: conceptId2
          in: path
          required: true
          description: End node of the relation to be deleted
          type: string
        - name: relationName
          in: path
          required: true
          description: Name of the relation to be deleted
          type: string
      responses:
        '200':
          description: Deletes relation between two existing concepts
          schema:
            type: object
            properties:
              header:
                title: SuccessResponseHeader
                type: object
                properties:
                  id:
                    type: string
                    description: API Identifier
                  ver:
                    type: string
                    description: API version information
                  ts:
                    type: string
                    description: API execution timespan
                  params:
                    description: API response parameters
                    title: Response Params
                    type: object
                    properties:
                      resmsgid:
                        type: string
                        description: Response Message Id
                      msgid:
                        type: string
                        description: Message Id
                      err:
                        type: string
                        description: Error Code
                      status:
                        type: string
                        description: Response Status
                      errmsg:
                        type: string
                        description: Error Message
                  responseCode:
                    type: object
                    description: 'API response code '
              body:
                title: result
                type: object
                properties: {}
        '400':
          description: >-
            Error While deleting the relation between two concept ! | Error
            occurred while operation, mostly because of the input given by
            client, In general it is 'Client Exception'. To investigate the root
            cause first read through the 'err' field of response 'params' and go
            through the Domain Model Wiki-Doc 
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While deleting the relation between two concept! | Error
            occurred while operation, mostly because of erroneous condition on
            server, In general it is 'Server Exception' or 'Exception'.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
  '/domains/{domainId}/concepts/{conceptId}/retire?newConceptId={newConceptId}':
    post:
      summary: Retires the concept.
      description: >-
        This API retires the concept. The concept is marked as deprecated and
        the concept data is still retained in the system. The concept is
        replaced by the given new concept. All relations of the current concept
        are moved to the new concept. Retired concepts are not returned by the
        APIs.
      tags:
        - Domain Objects
      operationId: domain.concept.retire
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: ' Domain within which to search'
          type: string
        - name: conceptId
          in: path
          required: true
          description: Concept to be retired
          type: string
        - name: newConceptId
          in: path
          required: true
          description: >-
            Replace the concept with a new concept. If not specified, all
            sub-concepts are deleted
          type: string
      responses:
        '200':
          description: Node ID created in the graph
          schema:
            type: object
            properties:
              header:
                title: SuccessResponseHeader
                type: object
                properties:
                  id:
                    type: string
                    description: API Identifier
                  ver:
                    type: string
                    description: API version information
                  ts:
                    type: string
                    description: API execution timespan
                  params:
                    description: API response parameters
                    title: Response Params
                    type: object
                    properties:
                      resmsgid:
                        type: string
                        description: Response Message Id
                      msgid:
                        type: string
                        description: Message Id
                      err:
                        type: string
                        description: Error Code
                      status:
                        type: string
                        description: Response Status
                      errmsg:
                        type: string
                        description: Error Message
                  responseCode:
                    type: object
                    description: 'API response code '
              body:
                title: result
                type: object
                properties: {}
        '400':
          description: >-
            Error While retiring the specified concept! | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'. To investigate the root cause first read
            through the 'err' field of response 'params' and go through the
            Domain Model Wiki-Doc
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While retiring the specified concept! | Error occurred while
            operation, mostly because of erroneous condition on server, In
            general it is 'Server Exception' or 'Exception'
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
  '/domains/{domainId}/concepts/{conceptId1}/parent?{parentId}={conceptId2}':
    post:
      summary: Moves concept under a new parent
      description: >-
        This API Moves the given concept under a new parent. The entire sub-tree
        of concepts is affected
      tags:
        - Domain Objects
      operationId: domain.concept.move
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: domain for which all concepts are required
          type: string
        - name: conceptId1
          in: path
          required: true
          description: start Node of the relation to be deleted
          type: string
        - name: conceptId2
          in: path
          required: true
          description: end Node of the relation
          type: string
        - name: parentId
          in: path
          required: true
          description: New parent concept
          type: string
      responses:
        '200':
          description: Concept moved successfully
          schema:
            type: object
            properties:
              header:
                title: SuccessResponseHeader
                type: object
                properties:
                  id:
                    type: string
                    description: API Identifier
                  ver:
                    type: string
                    description: API version information
                  ts:
                    type: string
                    description: API execution timespan
                  params:
                    description: API response parameters
                    title: Response Params
                    type: object
                    properties:
                      resmsgid:
                        type: string
                        description: Response Message Id
                      msgid:
                        type: string
                        description: Message Id
                      err:
                        type: string
                        description: Error Code
                      status:
                        type: string
                        description: Response Status
                      errmsg:
                        type: string
                        description: Error Message
                  responseCode:
                    type: object
                    description: 'API response code '
              body:
                title: result
                type: object
                properties: {}
        '400':
          description: >-
            Error While moving the concept ! | Error occurred while operation,
            mostly because of the input given by client, In general it is
            'Client Exception'. To investigate the root cause first read through
            the 'err' field of response 'params' and go through the Domain MOdel
            Wiki-Doc
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While moving the concept! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is
            'Server Exception' or 'Exception'.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
  '/domains/{domainId}/concepts/{conceptId}':
    get:
      summary: gets specific concept object
      description: >-
        The _concept/{conceptId}_ endpoint with 'GET' method is used to fetch
        the specific concept from the _EkStep Platform_. This endpoint returns
        the entire concept Object with default fields.
      tags:
        - Domain Objects
      operationId: domain.concept.info
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: Domain ID to query the details
          type: string
        - name: conceptId
          in: path
          required: true
          description: concept ID to query the details
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              header:
                title: SuccessResponseHeader
                type: object
                properties:
                  id:
                    type: string
                    description: API Identifier
                  ver:
                    type: string
                    description: API version information
                  ts:
                    type: string
                    description: API execution timespan
                  params:
                    description: API response parameters
                    title: Response Params
                    type: object
                    properties:
                      resmsgid:
                        type: string
                        description: Response Message Id
                      msgid:
                        type: string
                        description: Message Id
                      err:
                        type: string
                        description: Error Code
                      status:
                        type: string
                        description: Response Status
                      errmsg:
                        type: string
                        description: Error Message
                  responseCode:
                    type: object
                    description: 'API response code '
              body:
                title: details of all concepts
                type: object
                properties:
                  name:
                    type: string
                    description: ''
                  code:
                    type: string
                    description: ''
                  keywords:
                    type: string
                    description: ''
                  status:
                    type: string
                    description: ''
                  gradeLevel:
                    type: string
                    description: ''
                  internalValidation:
                    type: string
                    description: ''
                  externalValidation:
                    type: string
                    description: ''
                  baseConceptId:
                    type: string
                    description: ''
                  expectedLearningTime:
                    type: number
                    description: Learning time in hours
                  applicability:
                    type: string
                    description: Application in real life
                  foundation:
                    type: string
                    description: ''
                  assessmentMethod:
                    type: string
                    description: ''
                  noOfGames:
                    type: number
                    description: ''
                  avgGamingTimeSpent:
                    type: number
                    description: ''
                  description:
                    type: string
                    description: ''
                  learningObjective:
                    type: string
                    description: ''
                  example:
                    type: string
                    description: ''
                  validators:
                    type: string
                    description: ''
                  references:
                    type: string
                    description: List of references
                  createdBy:
                    type: string
                    description: ''
                  createdOn:
                    type: string
                    description: ''
                  lastUpdatedBy:
                    type: string
                    description: ''
                  lastUpdatedOn:
                    type: string
                    description: ''
                  version:
                    type: number
                    description: ''
                  versionDate:
                    type: string
                    description: ''
                  versionCreatedBy:
                    type: string
                    description: ''
        '400':
          description: >-
            Error While fetching the specific concept! | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'. To investigate the root cause first read
            through the 'err' field of response 'params' and go through the
            Domain Model Wiki-Doc
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While fetching the specific concept! | Error occurred while
            operation, mostly because of erroneous condition on server, In
            general it is 'Server Exception' or 'Exception'.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
    patch:
      summary: Updates the concept
      description: >-
        This is a PATCH API - indicating that the platform supports partial data
        updates. Only the fields provided in the request object will be updated.
      tags:
        - Domain Objects
      operationId: domain.concept.update
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: domain for which all concepts are required
          type: string
        - name: conceptId
          in: path
          required: true
          description: Concept identifier (concepts are unique within a domain)
          type: string
        - name: Request
          in: body
          description: Concept Request Object which contains the concept object
          required: true
          schema:
            title: details of all concepts
            type: object
            properties:
              name:
                type: string
                description: ''
              code:
                type: string
                description: ''
              keywords:
                type: string
                description: ''
              status:
                type: string
                description: ''
              gradeLevel:
                type: string
                description: ''
              internalValidation:
                type: string
                description: ''
              externalValidation:
                type: string
                description: ''
              baseConceptId:
                type: string
                description: ''
              expectedLearningTime:
                type: number
                description: Learning time in hours
              applicability:
                type: string
                description: Application in real life
              foundation:
                type: string
                description: ''
              assessmentMethod:
                type: string
                description: ''
              noOfGames:
                type: number
                description: ''
              avgGamingTimeSpent:
                type: number
                description: ''
              description:
                type: string
                description: ''
              learningObjective:
                type: string
                description: ''
              example:
                type: string
                description: ''
              validators:
                type: string
                description: ''
              references:
                type: string
                description: List of references
              createdBy:
                type: string
                description: ''
              createdOn:
                type: string
                description: ''
              lastUpdatedBy:
                type: string
                description: ''
              lastUpdatedOn:
                type: string
                description: ''
              version:
                type: number
                description: ''
              versionDate:
                type: string
                description: ''
              versionCreatedBy:
                type: string
                description: ''
      responses:
        '200':
          description: Updates the concept data
          schema:
            type: object
            properties:
              header:
                title: SuccessResponseHeader
                type: object
                properties:
                  id:
                    type: string
                    description: API Identifier
                  ver:
                    type: string
                    description: API version information
                  ts:
                    type: string
                    description: API execution timespan
                  params:
                    description: API response parameters
                    title: Response Params
                    type: object
                    properties:
                      resmsgid:
                        type: string
                        description: Response Message Id
                      msgid:
                        type: string
                        description: Message Id
                      err:
                        type: string
                        description: Error Code
                      status:
                        type: string
                        description: Response Status
                      errmsg:
                        type: string
                        description: Error Message
                  responseCode:
                    type: object
                    description: 'API response code '
              body:
                title: result
                type: object
                properties: {}
        '400':
          description: >-
            Error While updating the concept! | Error occurred while operation,
            mostly because of the input given by client, In general it is
            'Client Exception'. To investigate the root cause first read through
            the 'err' field of response 'params' and go through the Domain Model
            Wiki-Doc 
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While updating the concept! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is
            'Server Exception' or 'Exception'.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
  '/domains/{domainId}/concepts/{conceptId}/{relationName}?depth=NNN':
    get:
      summary: gets hierarchy of concepts
      description: >-
        This API Returns the hierarchy of concepts in the domain,Gets graph of
        concepts connected to a concept with the given relation    
      tags:
        - Domain Objects
      operationId: domain.concept.graph
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: domain for which all concepts are required
          type: string
        - name: conceptId
          in: path
          required: true
          description: >-
            Identifier of the concept from which the domain is to be traversed
            (e.g. sub-tree)
          type: string
        - name: relationName
          in: path
          required: true
          description: Name of the relation to be traversed
          type: string
      responses:
        '200':
          description: List of concept objects
          schema:
            type: array
            items:
              type: object
              properties:
                header:
                  title: SuccessResponseHeader
                  type: object
                  properties:
                    id:
                      type: string
                      description: API Identifier
                    ver:
                      type: string
                      description: API version information
                    ts:
                      type: string
                      description: API execution timespan
                    params:
                      description: API response parameters
                      title: Response Params
                      type: object
                      properties:
                        resmsgid:
                          type: string
                          description: Response Message Id
                        msgid:
                          type: string
                          description: Message Id
                        err:
                          type: string
                          description: Error Code
                        status:
                          type: string
                          description: Response Status
                        errmsg:
                          type: string
                          description: Error Message
                    responseCode:
                      type: object
                      description: 'API response code '
                body:
                  title: details of all concepts
                  type: object
                  properties:
                    name:
                      type: string
                      description: ''
                    code:
                      type: string
                      description: ''
                    keywords:
                      type: string
                      description: ''
                    status:
                      type: string
                      description: ''
                    gradeLevel:
                      type: string
                      description: ''
                    internalValidation:
                      type: string
                      description: ''
                    externalValidation:
                      type: string
                      description: ''
                    baseConceptId:
                      type: string
                      description: ''
                    expectedLearningTime:
                      type: number
                      description: Learning time in hours
                    applicability:
                      type: string
                      description: Application in real life
                    foundation:
                      type: string
                      description: ''
                    assessmentMethod:
                      type: string
                      description: ''
                    noOfGames:
                      type: number
                      description: ''
                    avgGamingTimeSpent:
                      type: number
                      description: ''
                    description:
                      type: string
                      description: ''
                    learningObjective:
                      type: string
                      description: ''
                    example:
                      type: string
                      description: ''
                    validators:
                      type: string
                      description: ''
                    references:
                      type: string
                      description: List of references
                    createdBy:
                      type: string
                      description: ''
                    createdOn:
                      type: string
                      description: ''
                    lastUpdatedBy:
                      type: string
                      description: ''
                    lastUpdatedOn:
                      type: string
                      description: ''
                    version:
                      type: number
                      description: ''
                    versionDate:
                      type: string
                      description: ''
                    versionCreatedBy:
                      type: string
                      description: ''
        '400':
          description: >-
            Error While fetching hierarchy of concepts in the domain | Error
            occurred while operation, mostly because of the input given by
            client, In general it is 'Client Exception'. To investigate the root
            cause first read through the 'err' field of response 'params' and go
            through the Domain Model Wiki-Doc
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While Content Creation! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is
            'Server Exception' or 'Exception'. To investigate the root cause
            first read through the 'err' field of response 'params' and go
            through the Wiki-Doc with title 'Content Model Error Codes', after
            that read 'errmsg' field of response 'params' and go through the
            Wiki-Doc with title 'Content Model Error Messages' for the
            corresponding error messages.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
  '/domains/{domainId}/dimensions':
    get:
      summary: gets all dimensions
      description: This API returns list of all live dimensions in the given domain
      tags:
        - Domain Objects
      operationId: domain.dimension.list
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: Domain within which to return the dimensions
          type: string
      responses:
        '200':
          description: all dimension objects returned successfully
          schema:
            type: array
            items:
              type: object
              properties:
                header:
                  title: SuccessResponseHeader
                  type: object
                  properties:
                    id:
                      type: string
                      description: API Identifier
                    ver:
                      type: string
                      description: API version information
                    ts:
                      type: string
                      description: API execution timespan
                    params:
                      description: API response parameters
                      title: Response Params
                      type: object
                      properties:
                        resmsgid:
                          type: string
                          description: Response Message Id
                        msgid:
                          type: string
                          description: Message Id
                        err:
                          type: string
                          description: Error Code
                        status:
                          type: string
                          description: Response Status
                        errmsg:
                          type: string
                          description: Error Message
                    responseCode:
                      type: object
                      description: 'API response code '
                body:
                  properties:
                    identifier:
                      type: string
                      description: Domain Identifier
                    name:
                      type: string
                      description: specific domain childName
                    subject:
                      type: string
                      description: domain subject
                    code:
                      type: string
                      description: code of the domain
                    description:
                      type: string
                      description: description about domain
                    status:
                      type: string
                      description: 'status about the domain eg: LIVE, RETIRED, DRAFT'
                    children:
                      type: object
                      description: domain and its relations/children
                      properties:
                        identifier:
                          type: string
                          description: Domain Identifier
                        name:
                          type: string
                          description: specific domain childName
                        objectType:
                          type: string
                          description: objectType
                        relation:
                          type: string
                          description: realtion
                        description:
                          type: string
                          description: description
                        index:
                          type: string
                          description: index
                    parent:
                      type: object
                      description: domain and its relations/children
                      properties:
                        identifier:
                          type: string
                          description: Domain Identifier
                        name:
                          type: string
                          description: specific domain childName
                        objectType:
                          type: string
                          description: objectType
                        relation:
                          type: string
                          description: realtion
                        description:
                          type: string
                          description: description
                        index:
                          type: string
                          description: index
        '400':
          description: >-
            Error While fetching all dimensions within the specified domain! |
            Error occurred while operation, mostly because of the input given by
            client, In general it is 'Client Exception'. To investigate the root
            cause first read through the 'err' field of response 'params' and go
            through the Domain Model Wiki-Doc
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While fetching all dimensions within the specified domain! |
            Error occurred while operation, mostly because of erroneous
            condition on server, In general it is 'Server Exception' or
            'Exception'.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
    post:
      summary: domainId - Domain ID within which the dimension is created
      description: >-
        The _dimension_ endpoint is used to create the dimension into the
        _EkStep Platform_ with the metadata provided as part of request body,
        there are certain fields marked as mandatory for which the value has to
        be given in order to create the dimension into the platfrom, The
        _dimension_ endpoint returns the node id as _node_id_ i.e. the
        identifier of created dimension.
      tags:
        - Domain Objects
      operationId: domain.object.create
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: domain ID to query the details
          type: string
        - name: Request
          in: body
          description: dimension Request Object which contains the dimension object
          required: true
          schema:
            properties:
              identifier:
                type: string
                description: Domain Identifier
              name:
                type: string
                description: specific domain childName
              subject:
                type: string
                description: domain subject
              code:
                type: string
                description: code of the domain
              description:
                type: string
                description: description about domain
              status:
                type: string
                description: 'status about the domain eg: LIVE, RETIRED, DRAFT'
              children:
                type: object
                description: domain and its relations/children
                properties:
                  identifier:
                    type: string
                    description: Domain Identifier
                  name:
                    type: string
                    description: specific domain childName
                  objectType:
                    type: string
                    description: objectType
                  relation:
                    type: string
                    description: realtion
                  description:
                    type: string
                    description: description
                  index:
                    type: string
                    description: index
              parent:
                type: object
                description: domain and its relations/children
                properties:
                  identifier:
                    type: string
                    description: Domain Identifier
                  name:
                    type: string
                    description: specific domain childName
                  objectType:
                    type: string
                    description: objectType
                  relation:
                    type: string
                    description: realtion
                  description:
                    type: string
                    description: description
                  index:
                    type: string
                    description: index
      responses:
        '200':
          description: >-
            domainId - Domain ID within which the dimension is created
            successfully
          schema:
            description: Dimension created successfully
            type: object
            allOf:
              - title: Result Containing Node Id
                type: object
                properties:
                  result:
                    title: Node Id
                    type: object
                    properties:
                      node_id:
                        type: string
                        description: Node Identifier
              - title: SuccessResponseHeader
                type: object
                properties:
                  id:
                    type: string
                    description: API Identifier
                  ver:
                    type: string
                    description: API version information
                  ts:
                    type: string
                    description: API execution timespan
                  params:
                    description: API response parameters
                    title: Response Params
                    type: object
                    properties:
                      resmsgid:
                        type: string
                        description: Response Message Id
                      msgid:
                        type: string
                        description: Message Id
                      err:
                        type: string
                        description: Error Code
                      status:
                        type: string
                        description: Response Status
                      errmsg:
                        type: string
                        description: Error Message
                  responseCode:
                    type: object
                    description: 'API response code '
        '400':
          description: >-
            Error While creating dimension within domain | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'. To investigate the root cause first read
            through the 'err' field of response 'params' and go through
            theDomain Model  Wiki-Doc
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While creating dimension within domain | Error occurred while
            operation, mostly because of erroneous condition on server, In
            general it is 'Server Exception' or 'Exception'
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
  '/domains/{domainId}/dimensions/{dimensionId}':
    get:
      summary: gets specific dimension
      description: >-
        This API Returns the details of the given dimension, and optionally, the
        sub-graph within it.
      tags:
        - Domain Objects
      operationId: domain.dimension.info
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: Domain ID to query the details
          type: string
        - name: dimensionId
          in: path
          required: true
          description: Dimension to return (concepts are unique within a domain)
          type: string
      responses:
        '200':
          description: Returns the details of the given dimension
          schema:
            type: object
            properties:
              header:
                title: SuccessResponseHeader
                type: object
                properties:
                  id:
                    type: string
                    description: API Identifier
                  ver:
                    type: string
                    description: API version information
                  ts:
                    type: string
                    description: API execution timespan
                  params:
                    description: API response parameters
                    title: Response Params
                    type: object
                    properties:
                      resmsgid:
                        type: string
                        description: Response Message Id
                      msgid:
                        type: string
                        description: Message Id
                      err:
                        type: string
                        description: Error Code
                      status:
                        type: string
                        description: Response Status
                      errmsg:
                        type: string
                        description: Error Message
                  responseCode:
                    type: object
                    description: 'API response code '
              body:
                properties:
                  identifier:
                    type: string
                    description: Domain Identifier
                  name:
                    type: string
                    description: specific domain childName
                  subject:
                    type: string
                    description: domain subject
                  code:
                    type: string
                    description: code of the domain
                  description:
                    type: string
                    description: description about domain
                  status:
                    type: string
                    description: 'status about the domain eg: LIVE, RETIRED, DRAFT'
                  children:
                    type: object
                    description: domain and its relations/children
                    properties:
                      identifier:
                        type: string
                        description: Domain Identifier
                      name:
                        type: string
                        description: specific domain childName
                      objectType:
                        type: string
                        description: objectType
                      relation:
                        type: string
                        description: realtion
                      description:
                        type: string
                        description: description
                      index:
                        type: string
                        description: index
                  parent:
                    type: object
                    description: domain and its relations/children
                    properties:
                      identifier:
                        type: string
                        description: Domain Identifier
                      name:
                        type: string
                        description: specific domain childName
                      objectType:
                        type: string
                        description: objectType
                      relation:
                        type: string
                        description: realtion
                      description:
                        type: string
                        description: description
                      index:
                        type: string
                        description: index
        '400':
          description: >-
            Error While fetching specified dimension  | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'. To investigate the root cause first read
            through the 'err' field of response 'params' and go through the
            Domain Model Wiki-Doc
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While fetching the specific dimension | Error occurred while
            operation, mostly because of erroneous condition on server, In
            general it is 'Server Exception' or 'Exception'.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
      security: []
    patch:
      summary: Updates the dimension
      description: >-
        Updates the dimension data. This is a PATCH API - indicating that the
        platform supports partial data updates. Only the fields provided in the
        request object will be updated.
      tags:
        - Domain Objects
      operationId: domain.dimension.update
      produces:
        - application/json
      parameters:
        - name: domainId
          in: path
          required: true
          description: domain ID to query the details
          type: string
        - name: dimensionId
          in: path
          required: true
          description: dimension ID to query the details
          type: string
        - name: Request
          in: body
          description: dimension Request Object which contains the dimension object
          required: true
          schema:
            properties:
              identifier:
                type: string
                description: Domain Identifier
              name:
                type: string
                description: specific domain childName
              subject:
                type: string
                description: domain subject
              code:
                type: string
                description: code of the domain
              description:
                type: string
                description: description about domain
              status:
                type: string
                description: 'status about the domain eg: LIVE, RETIRED, DRAFT'
              children:
                type: object
                description: domain and its relations/children
                properties:
                  identifier:
                    type: string
                    description: Domain Identifier
                  name:
                    type: string
                    description: specific domain childName
                  objectType:
                    type: string
                    description: objectType
                  relation:
                    type: string
                    description: realtion
                  description:
                    type: string
                    description: description
                  index:
                    type: string
                    description: index
              parent:
                type: object
                description: domain and its relations/children
                properties:
                  identifier:
                    type: string
                    description: Domain Identifier
                  name:
                    type: string
                    description: specific domain childName
                  objectType:
                    type: string
                    description: objectType
                  relation:
                    type: string
                    description: realtion
                  description:
                    type: string
                    description: description
                  index:
                    type: string
                    description: index
      responses:
        '200':
          description: >-
            domainId - Domain ID within which the dimension is created
            successfully
          schema:
            type: object
            properties:
              header:
                title: SuccessResponseHeader
                type: object
                properties:
                  id:
                    type: string
                    description: API Identifier
                  ver:
                    type: string
                    description: API version information
                  ts:
                    type: string
                    description: API execution timespan
                  params:
                    description: API response parameters
                    title: Response Params
                    type: object
                    properties:
                      resmsgid:
                        type: string
                        description: Response Message Id
                      msgid:
                        type: string
                        description: Message Id
                      err:
                        type: string
                        description: Error Code
                      status:
                        type: string
                        description: Response Status
                      errmsg:
                        type: string
                        description: Error Message
                  responseCode:
                    type: object
                    description: 'API response code '
              body:
                title: result
                type: object
                properties: {}
        '400':
          description: >-
            Error While updating the dimension! | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'. To investigate the root cause first read
            through the 'err' field of response 'params' and go through the
            Domain Model Wiki-Doc
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                type: string
                description: API response parameters
              responseCode:
                type: object
                description: 'API response code '
              result:
                title: result
                type: object
                properties: {}
        '500':
          description: >-
            Error While updating the dimension! | Error occurred while
            operation, mostly because of erroneous condition on server, In
            general it is 'Server Exception' or 'Exception'.
          schema:
            title: FailureResponseHeader
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
[...]
