#!/bin/sh
today=$(date "+%Y-%m-%d")
DIR=/data/graphDB
ZIP=/home/{{user}}/zipfolder
BACKUP=/home/{{user}}/backup
OPERATE=/home/{{user}}/operate


if [ -d $ZIP ]; then
    echo "directory exists"
else
    mkdir $ZIP
fi

if [ -d $BACKUP ]; then
    echo "directory exists"
else
    mkdir $BACKUP
fi

if [ "$(ls -A $DIR)" ]; then
     echo "Take action $DIR is not Empty"
     cd /data
     zip -r $BACKUP/graph-$today.zip graphDB
     cd ~
else
    echo "$DIR is Empty"
fi

if [ -d $OPERATE ]; then
    echo "exists"
else
    mkdir $OPERATE     
fi
cd /data
zip -r $OPERATE/graph-$today.zip graphDB
cd ~
unzip -o $OPERATE/graph-$today.zip -d $OPERATE
rm -rf  $OPERATE/graph-$today.zip

if [ $1 == "learning" ];then
        cd $OPERATE/graph-$today
        zip -r $ZIP/domain.zip domain
        scp -i /home/{{user}}/learning-platform.pem $ZIP/domain.zip {{user}}@{{to_learning}}:/home/{{user}}/tmp
      elif [ $1 == "total" ];then
        cd $OPERATE/graph-$today
        for i in *
        do
                echo $i
                zip -r $ZIP/$i.zip $i
                scp -i /home/{{user}}/learning-platform.pem $ZIP/$i.zip {{user}}@{{to_total}}:/home/{{user}}/tmp
        done
else
        cd $OPERATE/graph-$today
        for j in *
        do
                if [ $j != "domain" ]; then
                        zip -r $ZIP/$j.zip $j
                        scp -i /home/{{user}}/learning-platform.pem $ZIP/$j.zip {{user}}@{{to_language}}:/home/{{user}}/tmp
                fi
        done
fi