<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="DefaultLogAppender" fileName="/data/logs/language_service.log"
			filePattern="/data/logs/language_service-%d{MM-dd-yyyy-hh}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="250 MB" />
				<TimeBasedTriggeringPolicy interval="24"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="language_service-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingFile>
		<RollingFile name="PerfLogAppender" fileName="/data/logs/language-perf.log"
			filePattern="/data/logs/language-perf-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d [%t] - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="250 MB" />
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="language-perf-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingFile>
		<RollingRandomAccessFile name="GraphEventAppender"
			fileName="/data/logs/lang_graph_event.log" filePattern="/data/logs/lang_graph_event-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="lang_graph_event-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="TelemetryEventAppender"
			fileName="/data/logs/language_telemetry_event.log"
			filePattern="/data/logs/language_telemetry_event-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="language_telemetry_event-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Logger name="TelemetryEventLogger" level="INFO" additivity="false">
			<AppenderRef ref="TelemetryEventAppender" />
		</Logger>
		<Logger name="GraphEventLogger" level="INFO" additivity="false">
			<AppenderRef ref="GraphEventAppender" />
		</Logger>
		<Logger name="PerformanceTestLogger" level="INFO" additivity="false">
			<AppenderRef ref="PerfLogAppender" />
		</Logger>
		<Logger name="DefaultPlatformLogger" level="INFO" additivity="false">
			<AppenderRef ref="DefaultLogAppender" />
		</Logger>
	</Loggers>
</Configuration>