<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFileAppender" fileName="/data/logs/language.log"
			filePattern="/data/logs/language-%d{MM-dd-yyyy-hh}-%i.log">
			<PatternLayout>
				<Pattern>%d [%t] %-5level %logger{36} - %msg%n
				</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24"
					modulate="true" />
			</Policies>
		</RollingFile>
		<RollingFile name="PerfLogAppender" fileName="/data/logs/language-perf.log"
			filePattern="/data/logs/language-perf-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d [%t] - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>
		<RollingRandomAccessFile name="GraphEventAppender"
			fileName="/data/logs/lang_graph_event.log" filePattern="/data/logs/lang_graph_event-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="WordEventAppender"
			fileName="/data/logs/word_event.log" filePattern="/data/logs/word_event-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="TelemetryEventAppender"
			fileName="/data/logs/language_telemetry_event.log"
			filePattern="/data/logs/language_telemetry_event-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Logger name="TelemetryEventLogger" level="INFO" additivity="false">
			<AppenderRef ref="TelemetryEventAppender" />
		</Logger>
		<Logger name="GraphEventLogger" level="INFO" additivity="false">
			<AppenderRef ref="GraphEventAppender" />
		</Logger>
		<Logger name="PerformanceTestLogger" level="INFO" additivity="false">
			<AppenderRef ref="PerfLogAppender" />
		</Logger>
		<Logger name="WordEventLogger" level="INFO" additivity="false">
			<AppenderRef ref="WordEventAppender" />
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="RollingFileAppender" />
		</Root>
	</Loggers>
</Configuration>