platform-ui/logs
platform-ui/node_modules
.project
.settings
.project
**/target
.cache
.idea
.DS_Store
derby.log
platform-analytics/metastore_db
dependency-reduced-pom.xml
platform-analytics/checkpoint
platform-modules/analytics/streaming-models/literacy-level-computation/checkpoint
quiz-app/resources
quiz-app/www
.classpath
.cache-main
platform-tools/scripts/orchestrator/node_modules/
coverageReport/
language-platform/module/scripts/orchestrator/node_modules/
*.
*.
H5PContentWorkflowTest.java
platform-tools/spikes/sunbird-tools/nbproject
*.retry
*.idea*
*.iml
platform-tools/spikes/sync-tool/spring-shell.log
platform-tools/spikes/sync-tool/all.log
