platform-ui/logs
platform-ui/node_modules
.project
.settings
.project
**/target
.cache
derby.log
platform-analytics/metastore_db
dependency-reduced-pom.xml
platform-analytics/checkpoint
platform-modules/analytics/streaming-models/literacy-level-computation/checkpoint
quiz-app/resources
quiz-app/www
.classpath
