<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="TelemetryLog" fileName="logs/telemetry.log">
			<PatternLayout>
				<Pattern>%m%n</Pattern>
			</PatternLayout>
		</File>
		<Async name="Async">
			<AppenderRef ref="TelemetryLog" />
		</Async>
	</Appenders>
	<Loggers>
		<Logger name="org.ekstep.ilimi.analytics.streaming" level="info">
			<AppenderRef ref="Async" />
		</Logger>
		<Root level="error"></Root>
	</Loggers>
</Configuration>