#!/bin/sh
cd {{neo4j_home}}
`bin/neo4j-backup --from={{backup_add}} --to=/mnt/backup/neo4j-backup`
time=$(date '+%d-%b-%Y')
var="neo4jbackup"
var2=$var$time
mkdir /mnt/backup/$var2
cp -r /mnt/backup/neo4j-backup/* /mnt/backup/$var2/
zip -r /mnt/backup/$var2.zip /mnt/backup/$var2
