db.driverClassName=com.mysql.jdbc.Driver
db.url=jdbc:mysql://{{ mysql_db_url }}/{{ mysql_db_schema }}?characterEncoding=UTF-8
db.username={{ mysql_db_username }}
db.password={{ mysql_db_password }}
db.initialSize=2
db.maxActive=10
db.validationQuery=select 1
hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
hibernate.show_sql=false
hibernate.query.substitutions=true 1, false 0
hibernate.hbm2ddl.auto=update
hibernate.default_schema={{ mysql_db_schema }}
hibernate.packagesToScan=org.ekstep
hibernate.jdbc.batch_size=3
hibernate.connection.CharSet=UTF-8
hibernate.connection.characterEncoding=UTF-8
hibernate.connection.useUnicode=true