---

- name: download a file from azure storage
  include_role:
    name: azure-cloud-storage
    tasks_from: blob-download.yml
  vars:
    blob_container_name: "{{ redis_backup_storage }}"
    blob_file_name: "{{ redis_restore_file_name }}"
    local_file_or_folder_path: "/tmp/{{ redis_restore_file_name }}"
    storage_account_name: "{{ azure_management_storage_account_name }}"
    storage_account_key: "{{ azure_management_storage_account_key }}"
  when: cloud_service_provider == "azure"

- name: stop redis to take backup 
  become: yes
  systemd:
    name: redis
    state: stopped

- name: Copy rdb file to data dir
  shell: cp /tmp/{{ redis_restore_file_name }} {{ learning_user_home }}/redis-stable/dump.rdb

- name: start redis
  become: yes
  systemd:
    name: redis
    state: started

- name: Keyspace info
  shell: "echo info keyspace | ./src/redis-cli"
  register: restoreinfo
  args:
    chdir: "{{learning_user_home}}/redis-stable/"

- debug: var=restoreinfo.stdout_lines
