<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.ekstep.genie.service.plugin"
    version="0.0.1">
    <name>GenieServicePlugin</name>
    <description>Genie Service Plugin to work with Genie Service SDK</description>
    <license>Apache 2.0</license>
    <keywords>Genie Service Plugin</keywords>
    <repo></repo>
    <issue></issue>
    <js-module src="www/GenieServicePlugin.js" name="GenieServicePlugin">
        <clobbers target="GenieServicePlugin" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GenieServicePlugin" >
                <param name="android-package" value="GenieServicePlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/GenieServicePlugin.java" target-dir="src/" />
    </platform>
</plugin>
