<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="SearchLogAppender" fileName="/data/logs/search.log"
			filePattern="/data/logs/search-%d{MM-dd-yyyy-hh}-%i.log">
			<PatternLayout>
				<Pattern>%d [%t] %-5level %logger{36} - %msg%n
				</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="search-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingFile>
		<RollingFile name="PerfLogAppender" fileName="/data/logs/search_perf.log"
			filePattern="/data/logs/search_perf-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d [%t] - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="search_perf-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingFile>
		<RollingRandomAccessFile name="TelemetryEventAppender" fileName="/data/logs/search_event.log"
			filePattern="/data/logs/search_event-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="search_event-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Logger name="TelemetryEventLogger" level="INFO" additivity="false">
			<AppenderRef ref="TelemetryEventAppender" />
		</Logger>
		<Logger name="PerformanceTestLogger" level="INFO" additivity="false">
			<AppenderRef ref="PerfLogAppender" />
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="SearchLogAppender" />
		</Root>
	</Loggers>
</Configuration>