<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFileAppender" fileName="/data/logs/graph.log"
			filePattern="/data/logs/graph-%d{MM-dd-yyyy-hh}-%i.log">
			<PatternLayout>
				<Pattern>%d [%t] %-5level %logger{36} - %msg%n
				</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24"
					modulate="true" />
			</Policies>
		</RollingFile>
		<RollingFile name="PerfLogAppender" fileName="/data/logs/perf.log"
			filePattern="/data/logs/perf-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d [%t] - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>
		<RollingFile name="AuditLogAppender" fileName="/data/logs/audit.log"
			filePattern="/data/logs/audit-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d [%t] - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>
		<RollingRandomAccessFile name="KafkaMessageAppender" fileName="/data/logs/Kafka_messages.log"
			filePattern="/data/logs/Kafka_messages-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<AsyncLogger name="KafkaMessageLogger" level="INFO" additivity="false">
			<AppenderRef ref="KafkaMessageAppender" />
		</AsyncLogger>
		<Logger name="AuditTestLogger" level="INFO" additivity="false">
			<AppenderRef ref="AuditLogAppender" />
		</Logger>
		<Logger name="PerformanceTestLogger" level="INFO" additivity="false">
			<AppenderRef ref="PerfLogAppender" />
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="RollingFileAppender" />
		</Root>
	</Loggers>
</Configuration>