<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFileAppender" fileName="/data/logs/learning_service.log"
			filePattern="/data/logs/learning_service-%d{MM-dd-yyyy-hh}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="learning_service-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingFile>
		<RollingFile name="PerfLogAppender" fileName="/data/logs/perf.log"
			filePattern="/data/logs/perf-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d [%t] - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="perf-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingFile>
		<RollingFile name="AuditLogAppender" fileName="/data/logs/audit.log"
			filePattern="/data/logs/audit-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d [%t] - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="audit-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingFile>
		<RollingRandomAccessFile name="GraphEventAppender" fileName="/data/logs/graph_event.log"
			filePattern="/data/logs/graph_event-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="graph_event-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="TelemetryEventAppender" fileName="/data/logs/telemetry_event.log"
			filePattern="/data/logs/telemetry_event-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="telemetry_event-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="ObjectLifecycleEventAppender" fileName="/data/logs/object_lifecycle_event.log"
			filePattern="/data/logs/object_lifecycle_event-%d{MM-dd-yyyy-hh-mm}-%i.log">
			<PatternLayout>
				<Pattern>%d %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
                <Delete basePath="/data/logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="object_lifecycle_event-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingRandomAccessFile>

	</Appenders>
	<Loggers>
		<Logger name="TelemetryEventLogger" level="INFO" additivity="false">
			<AppenderRef ref="TelemetryEventAppender" />
		</Logger>
		<Logger name="GraphEventLogger" level="INFO" additivity="false">
			<AppenderRef ref="GraphEventAppender" />
		</Logger>
		<Logger name="AuditTestLogger" level="INFO" additivity="false">
			<AppenderRef ref="AuditLogAppender" />
		</Logger>
		<Logger name="ObjectLifecycleLogger" level="INFO" additivity="false">
			<AppenderRef ref="ObjectLifecycleEventAppender" />
		</Logger>
		<Logger name="PerformanceTestLogger" level="INFO" additivity="false">
			<AppenderRef ref="PerfLogAppender" />
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="RollingFileAppender" />
		</Root>
	</Loggers>
</Configuration>