<header> 
<style type="text/css">
	body { 
		padding: 0; 
		margin: 0; 
	}
	p { 
		margin: 0; 
	}
	.questions-paper { 
		padding: 50px; 
	}
	.question-header { 
		text-align: center; 
		padding: 16px 0; 
		border-bottom: 1px solid #999; 
	}
	.question-header h2 { 
		margin: 0; 
	}
	.main-container .question-section { 
		display: flex; 
		padding-top: 16px; 
	}
	.main-container .question-section:last-child { 
		display: flex; 
		padding-bottom: 16px; 
	}
	.question-count { 
		font-weight: 600; 
	}
	.question-content { 
		padding: 0 8px; 
	}
	.question-title { 
		font-size: 16px; 
		font-weight: 600; 
		padding-bottom: 8px; 
	}
	.mcq-option { 
		padding-left: 16px; 
	}
	.mcq-option p { 
		line-height: 24px; 
	}
	.mcq-option p:before { 
		content: '\2022';
		margin-right: 8px; 
	}
	.answer { 
		padding-left: 20px; 
	}
	.answer p:before { 
		content: '\2022';
		margin-right: 8px; 
	}
	.answer-sheet { 
		page-break-before: always; 
	}
	.question-section {
	    page-break-inside: avoid;
	}
</style> 
</header>

<div class="questions-paper">
<div class="question-sheet">
    <div class="question-header"><h2>$title</h2></div>
    <div class="main-container">$questions</div>
</div>
<div class="answer-sheet">
    <div class="question-header"><h2>Answers</h2></div>
    <div class="main-container">$answers</div>
</div>

</div>