graph.dir=/data/graphDB
redis.host={{ redis_host }}
redis.port={{ redis_port }}
redis.maxConnections=128
akka.request_timeout=30
environment.id={{ environment_id }}
graph.passport.key.base={{graph_passport_key}}
route.domain={{learning_neo4j_bolt_url}}
route.all={{language_neo4j_bolt_url}}