<div class="footer-container footerClass">
    <div class="container">
        <div class="row text-center">
            We look forward to hear from you. You can reach us at <a href="mailto:info@ekstep.org" class="btn-link">info@ekstep.org</a><br/>
            &copy; 2015 ekStep.org. All rights reserved.
        </div>
    </div>
</div>
