<div id="mainNavMenu" class="NavLeftContainer">
<ul>
	<li class="dropdown coachingTab active common_box">
		<div class="dropdown dropdown-toggle" data-toggle="dropdown">
			<i class="coachingImg"></i>
			<span class="lefttab"> Learning Map</span>
		</div>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation" ng-repeat="taxonomy in allTaxonomies">
				<a href="javascript:void(0);" ng-click="selectTaxonomy(taxonomy.id)">{{taxonomy.name}} Concepts</a>
			</li>
		</ul>
	</li>

	<li class="dropdown forumsTab common_box">
		<div class="dropdown dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
			<i class="forumsImg"></i>
			<span class="lefttab">games</span>
		</div>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation" ng-repeat="taxonomy in allTaxonomies">
				<a href="javascript:void(0);" ng-click="viewGameList(taxonomy.id)">{{taxonomy.name}} Games</a>
			</li>
			<li role="presentation" ng-repeat="taxonomy in allTaxonomies">
				<a href="javascript:void(0);" ng-click="showHeatMap(taxonomy.id)">{{taxonomy.name}} Game Coverage</a>
			</li>
		</ul>
	</li>

	<li class="dropdown forumsTab common_box" ng-if="dashboardLinks && dashboardLinks.title">
		<div class="dropdown dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
			<i class="communityImg"></i>
			<span class="lefttab">{{dashboardLinks.title}}</span>
		</div>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-if="dashboardLinks.links">
			<li role="presentation" ng-repeat="link in dashboardLinks.links">
				<a href="{{link.url}}" target="_blank">{{link.title}}</a>
			</li>
		</ul>
	</li>
	<li class="dropdown courseTab common_box">
		<div class="dropdown dropdown-toggle" data-toggle="dropdown">
			<i class="courseImg"></i>
			<span class="lefttab"> Content</span>
		</div>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation" ng-repeat="taxonomy in allTaxonomies">
				<a href="javascript:void(0);" ng-click="selectContent(taxonomy.id)">{{taxonomy.name}} Content</a>
			</li>
		</ul>
	</li>
</ul>
</div>
