<div class="footerClass container-full pull-left col-md-12 text-center">
    <div class="footerAbs">
        <div class="copyright-cont pull-left col-md-12 text-center">
            <div class="text-center">
                We look forward to hear from you. You can reach us at <a href="mailto:info@ekstep.org" class="btn-link">info@ekstep.org</a><br/>
            &copy; 2015 ekStep.org. All rights reserved.
            </div>
        </div>
    </div>
</div>