<div class="sidebarContainerz">
	<div class="RightsideContainer scrollstyle">
		<div class="il-rt-container recentContent marginBottom20">
			<div class="il-rt-header pad0">
				<h3>Learning Maps</h3>
			</div>
			<div class="il-rt-notn">
				<ul>
					<li ng-repeat="taxonomy in allTaxonomies">
						<span ng-if="selectedTaxonomyId == taxonomy.id">{{taxonomy.name}}</span>
						<a href="javascript:void(0)" ng-if="selectedTaxonomyId != taxonomy.id" ng-click="selectTaxonomy(taxonomy.id)">{{taxonomy.name}}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="il-rt-container recentContent marginBottom20">
			<div class="il-sc-header il-dd-header pad0">
				<h3>Tags</h3>
			</div>
			<div class="il-rt-notn">
				<ul>
					<li ng-if="selectedConcept.tags.length == 0">
						<span>tags not found</span>
					</li>	
					<li ng-repeat="tag in selectedConcept.tags">
						<a href="javascript:void(0)">{{tag}}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="il-rt-container recentContent marginBottom20">
			<div class="il-sc-header il-dd-header pad0">
				<h3>Related Concepts</h3>
			</div>
			<div class="bs-docs-sidebar">
				<ul ng-if="selectedConcept.relatedConcepts.length == 0">
					<li>
						<span style="">related concepts not found</span>
					</li>
				</ul>
				<nav class="il-rt-notn" ng-if="selectedConcept.relatedConcepts.length > 0">
					<ul class="nav">
						<li ng-repeat="concept in selectedConcept.relatedConcepts" ng-if="$index < selectedConcept.relatedConceptsLimit">
							<a href="javascript:void(0)" ng-click="selectSunburstConcept(concept.id)">{{concept.name | limitTo: 30}}{{concept.name.length > 30 ? '...' : ''}}</a>
						</li>
					</ul>
					<a class="pull-right" style="font-size:12px; min-width: 90px; margin-bottom:10px;" ng-click="selectedConcept.relatedConceptsLimit = selectedConcept.relatedConcepts.length" ng-hide="selectedConcept.relatedConceptsLimit >= selectedConcept.relatedConcepts.length">more</a>
				</nav>
			</div>
		</div>

		<div class="il-rt-container recentContent marginBottom20">
			<div class="il-sc-header il-dd-header pad0">
				<h3>Related Games</h3>
			</div>
			<div class="bs-docs-sidebar">
				<ul ng-if="selectedConcept.relatedGames.length == 0">
					<li>
						<span>related games not found</span>
					</li>
				</ul>
				<nav class="il-rt-notn" ng-if="selectedConcept.relatedGames.length > 0">
					<ul class="nav">
						<li ng-repeat="game in selectedConcept.relatedGames" ng-if="$index < selectedConcept.relatedGamesLimit">
							<a href="javascript:void(0)" ng-click="viewGame(game.id)">{{game.name | limitTo: 30}}{{game.name.length > 30 ? '...' : ''}}</a></a>
						</li>
					</ul>
					<a class="pull-right" style="font-size:12px; min-width: 90px; margin-bottom:10px;" ng-click="selectedConcept.relatedGamesLimit = selectedConcept.relatedGames.length" ng-hide="selectedConcept.relatedGamesLimit >= selectedConcept.relatedGames.length">more</a>
				</nav>
			</div>
		</div>

		<!-- <div class="il-rt-container recentContent marginBottom20 rightBarConceptMenu hide" bs-scrollspy-list>
			<div class="il-sc-header il-dd-header pad0">
				<h3>Concept Details</h3>
			</div>
			<div id="sidebarScrollSpy" class="bs-docs-sidebar">
				<nav class="il-rt-notn">
					<ul class="nav">
						<li data-target="#{{cat.id}}" bs-scrollspy ng-repeat="cat in categories">
							<a href="javascript:void(0)" ng-click="scrolltoHref(cat.id)">{{cat.label}}</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		 <div class="il-rt-container recentContent marginBottom20 rightBarGameMenu hide" bs-scrollspy-list>
			<div class="il-sc-header il-dd-header pad0">
				<h3>Game Details</h3>
			</div>
			<div id="sidebarScrollSpy" class="bs-docs-sidebar">
				<nav class="il-rt-notn">
					<ul class="nav">
						<li data-target="#{{cat.id}}" bs-scrollspy ng-repeat="cat in categories">
							<a href="javascript:void(0)" ng-click="scrolltoHref(cat.id)">{{cat.label}}</a>
						</li>
					</ul>
				</nav>
			</div>
		</div> -->
	</div>
</div>