<div class="sidebarContainerz">
	<div class="RightsideContainer scrollstyle">
		<div class="il-rt-container recentContent" ng-class="{marginBottom20 : selectedConcept.parent, hrMarginBottom5: !selectedConcept.parent}">
			<div class="il-rt-header pad0">
				<h3 class="title-truncate">{{selectedConcept.metadata.name}}</h3>
			</div>
			<div class="il-rt-notn">
				<ul ng-if="selectedConcept.parent">
					<li>
						<span class="pull-left">in&nbsp;</span>
						<a class="pull-left title-truncate" href="javascript:void(0)" ng-click="selectSunburstConcept(selectedConcept.parent.id)">{{selectedConcept.parent.name | limitTo: 30}}{{selectedConcept.parent.name.length > 30 ? '...' : ''}}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="il-rt-container recentContent marginBottom20 marginTop10">
			<div class="il-sc-header il-dd-header pad0">
				<h3 id="relConId" class="hide">Related Concepts<span class="pull-right badge greenBadge marginRight5 rt-sec-count">{{selectedConcept.relatedConcepts.length}}</span></h3>
				<h3 id="gameConCovId" class="hide">Concepts Covered<span class="pull-right badge greenBadge marginRight5 rt-sec-count">{{selectedConcept.relatedConcepts.length}}</span></h3>
			</div>
			<div class="bs-docs-sidebar">
				<ul ng-if="selectedConcept.relatedConcepts.length == 0">
					<li>
						<span style="">None</span>
					</li>
				</ul>
				<nav class="il-rt-notn" ng-if="selectedConcept.relatedConcepts.length > 0">
					<ul class="nav">
						<li ng-repeat="concept in selectedConcept.relatedConcepts" ng-if="$index < selectedConcept.relatedConceptsLimit">
							<a href="javascript:void(0)" ng-click="selectSunburstConcept(concept.id)">{{concept.name | limitTo: 30}}{{concept.name.length > 30 ? '...' : ''}}</a>
						</li>
					</ul>
					<a class="pull-right" style="font-size:12px; min-width: 90px; margin-bottom:10px;" ng-click="selectedConcept.relatedConceptsLimit = selectedConcept.relatedConcepts.length" ng-hide="selectedConcept.relatedConceptsLimit >= selectedConcept.relatedConcepts.length">more</a>
				</nav>
			</div>
		</div>

		<div class="il-rt-container recentContent marginBottom20">
			<div class="il-sc-header il-dd-header pad0">
				<h3>Related Games <span class="pull-right badge greenBadge marginRight5 rt-sec-count">{{selectedConcept.relatedGames.length}}</span></h3>
			</div>
			<div class="bs-docs-sidebar">
				<ul ng-if="selectedConcept.relatedGames.length == 0">
					<li>
						<span>None</span>
					</li>
				</ul>
				<nav class="il-rt-notn" ng-if="selectedConcept.relatedGames.length > 0">
					<ul class="nav">
						<li ng-repeat="game in selectedConcept.relatedGames" ng-if="$index < selectedConcept.relatedGamesLimit">
							<a href="javascript:void(0)" ng-click="viewGame(game.id)">{{game.name | limitTo: 30}}{{game.name.length > 30 ? '...' : ''}}</a></a>
						</li>
					</ul>
					<a class="pull-right" style="font-size:12px; min-width: 90px; margin-bottom:10px;" ng-click="selectedConcept.relatedGamesLimit = selectedConcept.relatedGames.length" ng-hide="selectedConcept.relatedGamesLimit >= selectedConcept.relatedGames.length">more</a>
				</nav>
			</div>
		</div>

		<div class="il-rt-container marginBottom20">
			<div class="il-sc-header il-dd-header pad0">
				<h3>Tags</h3>
			</div>
			<div class="il-rt-notn">
				<ul class="recentContent">
					<li ng-if="selectedConcept.tags.length == 0">
						<span>None</span>
					</li>
				</ul>
				<span class="badge greenBadge marginRight5" ng-repeat="tag in selectedConcept.tags">{{tag}}</span>
			</div>
		</div>
	</div>
</div>