<div class="sidebarContainerz">
	<div class="RightsideContainer scrollstyle">
		<div class="il-rt-container recentContent marginBottom20">
			<div class="il-rt-header pad0">
				<h3>Learning Maps</h3>
			</div>
			<div class="il-rt-notn">
				<ul>
					<li ng-repeat="taxonomy in allTaxonomies">
						<span ng-if="selectedTaxonomyId == taxonomy.identifier">{{taxonomy.name}}</span>
						<a href="javascript:void(0)" ng-if="selectedTaxonomyId != taxonomy.identifier" ng-click="switchTaxonomy(id)">{{taxonomy.name}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="il-rt-container recentContent marginBottom20" bs-scrollspy-list ng-if="showConceptCategories">
			<div class="il-sc-header il-dd-header pad0">
				<h3>Concept</h3>
			</div>
			<div id="sidebarScrollSpy" class="bs-docs-sidebar">
				<nav class="il-rt-notn">
					<ul class="nav">
						<li data-target="#{{cat.id}}" bs-scrollspy ng-repeat="cat in categories">
							<a href="javascript:void(0)" ng-click="scrolltoHref(cat.id)">{{cat.label}}</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>