{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569daeeba8261c2e6f85eb5e"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.SearchManagerImpl","operation":"getDataNode","router":"GRAPH_REQUEST_ROUTER"},"name":"getDataNode","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"index":1,"name":"node_id","routing_param":false}],"request_path":{"path_params":["graph_id","node_id"],"type":"GET","url":"/v1/graph/*/datanodes/*"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569daf37a8261c2e6f85eb5f"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.SearchManagerImpl","operation":"getAllDefinitions","router":"GRAPH_REQUEST_ROUTER"},"name":"getAllDefinitions","parameters":[{"index":0,"name":"graph_id","routing_param":true}],"request_path":{"path_params":["graph_id"],"type":"GET","url":"/v1/graph/*/definitions"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569daf84a8261c2e6f85eb60"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.SearchManagerImpl","operation":"getNodeDefinition","router":"GRAPH_REQUEST_ROUTER"},"name":"getDefinition","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"index":1,"name":"object_type","routing_param":false}],"request_path":{"path_params":["graph_id","object_type"],"type":"GET","url":"/v1/graph/*/definitions/*"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569dafdfa8261c2e6f85eb61"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.SearchManagerImpl","operation":"getDataNodes","router":"GRAPH_REQUEST_ROUTER"},"name":"getDataNodes","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"datatype":"java.util.ArrayList","index":1,"name":"node_ids","routing_param":false}],"request_path":{"path_params":["graph_id"],"type":"POST","url":"/v1/graph/*/datanodes/list"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db02ea8261c2e6f85eb62"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.SearchManagerImpl","operation":"getNodesByObjectType","router":"GRAPH_REQUEST_ROUTER"},"name":"getNodesByObjectType","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"index":1,"name":"object_type","routing_param":false}],"request_path":{"path_params":["graph_id","object_type"],"type":"GET","url":"/v1/graph/*/objects/*"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db0bda8261c2e6f85eb63"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.SearchManagerImpl","operation":"getChildren","router":"GRAPH_REQUEST_ROUTER"},"name":"getChildren","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"index":1,"name":"node_id","routing_param":false},{"datatype":"java.lang.Integer","index":2,"name":"depth","routing_param":false}],"request_path":{"path_params":["graph_id","node_id","depth"],"type":"GET","url":"/v1/graph/*/children/*/*"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db102a8261c2e6f85eb64"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.SearchManagerImpl","operation":"getDescendants","router":"GRAPH_REQUEST_ROUTER"},"name":"traverse","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"index":1,"name":"node_id","routing_param":false},{"index":2,"name":"relation","routing_param":false},{"datatype":"java.lang.Integer","index":3,"name":"depth","routing_param":false}],"request_path":{"path_params":["graph_id","node_id"],"type":"POST","url":"/v1/graph/*/traverse/*"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db150a8261c2e6f85eb65"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.SearchManagerImpl","operation":"searchNodes","router":"GRAPH_REQUEST_ROUTER"},"name":"searchNodes","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"datatype":"com.ilimi.graph.dac.model.SearchCriteria","index":1,"name":"search_criteria","routing_param":false}],"request_path":{"path_params":["graph_id"],"type":"POST","url":"/v1/graph/*/search"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db16da8261c2e6f85eb66"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.SearchManagerImpl","operation":"getNodesCount","router":"GRAPH_REQUEST_ROUTER"},"name":"getNodesCount","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"datatype":"com.ilimi.graph.dac.model.SearchCriteria","index":1,"name":"search_criteria","routing_param":false}],"request_path":{"path_params":["graph_id"],"type":"POST","url":"/v1/graph/*/count"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db1d2a8261c2e6f85eb67"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.NodeManagerImpl","operation":"createDataNode","router":"GRAPH_REQUEST_ROUTER"},"name":"createDataNode","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"datatype":"com.ilimi.graph.dac.model.Node","index":1,"name":"node","routing_param":false}],"request_path":{"path_params":["graph_id"],"type":"POST","url":"/v1/graph/*/datanode"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db1fca8261c2e6f85eb68"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.NodeManagerImpl","operation":"validateNode","router":"GRAPH_REQUEST_ROUTER"},"name":"validateNode","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"datatype":"com.ilimi.graph.dac.model.Node","index":1,"name":"node","routing_param":false}],"request_path":{"path_params":["graph_id"],"type":"POST","url":"/v1/graph/*/datanode/validate"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db25aa8261c2e6f85eb69"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.NodeManagerImpl","operation":"updateDataNode","router":"GRAPH_REQUEST_ROUTER"},"name":"updateDataNode","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"index":1,"name":"node_id","routing_param":false},{"datatype":"com.ilimi.graph.dac.model.Node","index":2,"name":"node","routing_param":false}],"request_path":{"path_params":["graph_id","node_id"],"type":"PATCH","url":"/v1/graph/*/datanode/*"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db287a8261c2e6f85eb6a"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.NodeManagerImpl","operation":"deleteDataNode","router":"GRAPH_REQUEST_ROUTER"},"name":"deleteDataNode","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"index":1,"name":"node_id","routing_param":false}],"request_path":{"path_params":["graph_id","node_id"],"type":"DELETE","url":"/v1/graph/*/datanode/*"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db306a8261c2e6f85eb6b"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.GraphMgrImpl","operation":"createRelation","router":"GRAPH_REQUEST_ROUTER"},"name":"addRelation","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"index":1,"name":"start_node_id","routing_param":false},{"index":2,"name":"relation_type","routing_param":false},{"index":3,"name":"end_node_id","routing_param":false}],"request_path":{"path_params":["graph_id","start_node_id","relation_type","end_node_id"],"type":"POST","url":"/v1/graph/*/relation/*/*/*"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db339a8261c2e6f85eb6c"},"actor_path":{"manager":"com.ilimi.graph.engine.mgr.impl.GraphMgrImpl","operation":"removeRelation","router":"GRAPH_REQUEST_ROUTER"},"name":"deleteRelation","parameters":[{"index":0,"name":"graph_id","routing_param":true},{"index":1,"name":"start_node_id","routing_param":false},{"index":2,"name":"relation_type","routing_param":false},{"index":3,"name":"end_node_id","routing_param":false}],"request_path":{"path_params":["graph_id","start_node_id","relation_type","end_node_id"],"type":"DELETE","url":"/v1/graph/*/relation/*/*/*"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db8f2a8261c2e6f85eb6d"},"actor_path":{"manager":"LEXILE_MEASURES_ACTOR","operation":"computeWordComplexity","router":"LANGUAGE_REQUEST_ROUTER"},"name":"computeWordComplexity","parameters":[{"index":0,"name":"language_id","routing_param":true},{"index":1,"name":"word","routing_param":false}],"request_path":{"path_params":["language_id"],"type":"POST","url":"/v1/language/*/lexileMeasures/word"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db92fa8261c2e6f85eb6e"},"actor_path":{"manager":"LEXILE_MEASURES_ACTOR","operation":"computeTextComplexity","router":"LANGUAGE_REQUEST_ROUTER"},"name":"computeTextComplexity","parameters":[{"index":0,"name":"language_id","routing_param":true},{"index":1,"name":"text","routing_param":false}],"request_path":{"path_params":["language_id"],"type":"POST","url":"/v1/language/*/lexileMeasures/text"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569db9d8a8261c2e6f85eb6f"},"actor_path":{"manager":"LEXILE_MEASURES_ACTOR","operation":"computeComplexity","router":"LANGUAGE_REQUEST_ROUTER"},"name":"computeComplexity","parameters":[{"index":0,"name":"language_id","routing_param":true},{"datatype":"java.util.ArrayList","index":1,"name":"words","routing_param":false},{"datatype":"java.util.ArrayList","index":2,"name":"texts","routing_param":false}],"request_path":{"path_params":["language_id"],"type":"POST","url":"/v1/language/*/lexileMeasures"},"type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569dbabda8261c2e6f85eb70"},"command_class":"com.ilimi.orchestrator.interpreter.command.CheckResponseError","name":"check_response_error","type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569dbacfa8261c2e6f85eb71"},"command_class":"com.ilimi.orchestrator.interpreter.command.ConvertGraphNode","name":"convert_graph_node","type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569dbae1a8261c2e6f85eb72"},"command_class":"com.ilimi.orchestrator.interpreter.command.ConvertToGraphNode","name":"convert_to_graph_node","type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569dbaf5a8261c2e6f85eb73"},"command_class":"com.ilimi.orchestrator.interpreter.command.GetResponseValue","name":"get_resp_value","type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569dbb0aa8261c2e6f85eb74"},"command_class":"com.ilimi.orchestrator.interpreter.command.MergeResponse","name":"merge_response","type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569e6426a8264cf219f2a093"},"command_class":"com.ilimi.orchestrator.interpreter.command.CreateSearchCriteria","name":"create_search_criteria","type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"569e8208a8261cc57a5b7c69"},"command_class":"com.ilimi.orchestrator.interpreter.command.CreateResponse","name":"create_response","type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"56a9e759a826bef7fd589a13"},"command_class":"com.ilimi.orchestrator.interpreter.command.CreateErrorResponse","name":"create_error_response","type":"COMMAND"}
{"_class":"com.ilimi.orchestrator.dac.model.OrchestratorScript","_id":{"$oid":"56af01b3a826d83b3f3993d7"},"command_class":"com.ilimi.orchestrator.interpreter.command.ConvertResponseToCSV","name":"convert_response_to_csv","type":"COMMAND"}
{ "_id" : ObjectId("56a04bdca826e1773ee2eb81"), "_class" : "com.ilimi.orchestrator.dac.model.OrchestratorScript", "name" : "createSet", "type" : "COMMAND", "parameters" : [ { "name" : "graph_id", "index" : 0, "routing_param" : true }, { "name" : "members", "datatype" : "java.util.ArrayList", "index" : 1, "routing_param" : false }, { "name" : "object_type", "index" : 2, "routing_param" : false }, { "name" : "member_type", "index" : 3, "routing_param" : false }, { "name" : "node", "datatype" : "com.ilimi.graph.dac.model.Node", "index" : 4, "routing_param" : false } ], "actor_path" : { "manager" : "com.ilimi.graph.engine.mgr.impl.CollectionManagerImpl", "operation" : "createSet", "router" : "GRAPH_REQUEST_ROUTER" }, "request_path" : { "type" : "POST", "url" : "/v1/graph/*/createSet", "path_params" : [ "graph_id" ] } }
{ "_id" : ObjectId("56a05070a826e1773ee2eb83"), "_class" : "com.ilimi.orchestrator.dac.model.OrchestratorScript", "name" : "updateSet", "type" : "COMMAND", "parameters" : [ { "name" : "graph_id", "index" : 0, "routing_param" : true }, { "name" : "members", "datatype" : "java.util.ArrayList", "index" : 1, "routing_param" : false }, { "name" : "object_type", "index" : 2, "routing_param" : false }, { "name" : "member_type", "index" : 3, "routing_param" : false }, { "name" : "node", "datatype" : "com.ilimi.graph.dac.model.Node", "index" : 4, "routing_param" : false } ], "actor_path" : { "manager" : "com.ilimi.graph.engine.mgr.impl.CollectionManagerImpl", "operation" : "updateSet", "router" : "GRAPH_REQUEST_ROUTER" }, "request_path" : { "type" : "PATCH", "url" : "/v1/graph/*/updateSet", "path_params" : [ "graph_id" ] } }
{ "_id" : ObjectId("56a04c38a826e1773ee2eb82"), "_class" : "com.ilimi.orchestrator.dac.model.OrchestratorScript", "name" : "getCollectionMembers", "type" : "COMMAND", "parameters" : [ { "name" : "graph_id", "index" : 0, "routing_param" : true }, { "name" : "collection_id", "index" : 1, "routing_param" : false }, { "name" : "collection_type", "index" : 2, "routing_param" : false } ], "actor_path" : { "manager" : "com.ilimi.graph.engine.mgr.impl.CollectionManagerImpl", "operation" : "getCollectionMembers", "router" : "GRAPH_REQUEST_ROUTER" }, "request_path" : { "type" : "GET", "url" : "/v1/graph/*/getCollectionMembers/*/*", "path_params" : [ "graph_id", "collection_type", "collection_id" ] } }
{ "_id" : ObjectId("56adb519a8268cb60dbd9315"), "_class" : "com.ilimi.orchestrator.dac.model.OrchestratorScript", "name" : "getSetMembers", "body" : "package require java\nset response [getCollectionMembers $graph_id $set_id \"SET\"]\nreturn $response", "type" : "SCRIPT", "parameters" : [ { "name" : "graph_id", "index" : 0, "routing_param" : true }, { "name" : "set_id", "index" : 1, "routing_param" : false } ], "request_path" : { "type" : "GET", "url" : "/v1/graph/*/getSetMembers/*", "path_params" : [ "graph_id", "set_id" ] } }