<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" ng-app="homePageApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Ilimi - FAQ</title>
    <% include ../includes/common-styles %>
    <% include ../includes/header-scripts %>
</head>

<body class="home-body" id="home-body" ng-controller="HowItWorksCtrl">
    <div class="wrapper">
        <header class="nav-down">
            <% include ../includes/header %>
        </header>
        <section>
            <div class="il-explore-bg">
                <div class="container">
                    <h2 class="header-black">Question?</h2>
                    <div class="howitworks-headr">
                        <span class="web-header-title">Offerings</span>
                        <span class="web-header-title dot_mrgn">.</span>
                        <span class="web-header-title">Courses</span>
                        <span class="web-header-title dot_mrgn">.</span>
                        <span class="web-header-title">Requirements</span>
                        <span class="web-header-title dot_mrgn">.</span>
                        <span class="web-header-title">Partnering</span>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="il-web-padng">
                    <div class="row container il_explore_content">
                        <div class="col-md-12">
                            <h2>Is Ilimi a technology platform or content offering?</h2>
                            <p class="explr-content">ilimi is a pedagogic platform specifically designed to ensure outcome achievement in corporate and career building education. Ilimi is available as cloud-based platform that education service providers, education institutes and corporates can use to deliver learning. Though ilimi offers a set of signature courses, it is not a content offering. The signature courses are in software architecture, cloud computing, internet scale technologies, big-data and data sciences. They are the best courses in these fields and are available to corporates and individual learners.</p>
                            <h2>What are the licensing models for Ilimi platform and the signature courses?</h2>
                            <p class="explr-content">The ilimi platform is available as a white-labeled cloud based environment. It is licensed on a pay-per-usse basis. Usage is calculated on a per-active user a month basis. An active user is someone who has accessed a course on the ilimi platform during a month. </p>
                            <p class="explr-content">In addition, companies who are building their own LMS environments or have large repositories of existing content can license ilimi APIs to add deep analytics, predict at-risk-students and add contextual content recommendations. The ilimi APIs are also licensed on a pay-per-use basis. Ilimi signature courses are licensed on a per-enrollment basis. Once enrolled a learner has lifetime access to the course. </p>
                            <h2>I have developed an existing LMS platforms in  my company? How can I leverage Ilimi's capabilities to work with those?</h2>
                            <p class="explr-content">You can use ilimi’s APIs to extend the capabilities of your LMS to a MOOC 2.0 model. Ilimi APIs allows you to add predictions of at-risk learners and provides actionable analytics based on engagement levels, performance and progress of learners. Ilimi APIs also enable you enrich your existing content with precise supplemental content recommendations and learning activities. The supplemental content includes your existing content and education resources found on the Net.</p>
                            <h2>Is Ilimi offered for in-premise deployment?</h2>
                            <p class="explr-content">By default ilimi is offered as a cloud based deployment that can be white labeled. If you are interested in a private cloud deployment, please contact us.</p>
                            <h2>When will ILIMI courses go live?</h2>
                            <p class="explr-content">ILIMI will be in public access beta from early April 2015. </p>
                            <h2>What are the first set of courses?</h2>
                            <p class="explr-content">ILIMI will have courses on Cloud Computing and Advanced Java For the Cloud for people with around 3-5 years of experience. Both these courses are practitioner led and will teach you architecture and design skills required to be a top cloud-centric developer </p>
                            <p class="explr-content">ILIMI will add a set of courses on data sciences, software architecture, big data technologies and mobile computing over the next few months.</p>
                            <h2>What infrastructure do I need to access ILIMI?</h2>
                            <p class="explr-content">You need a browser and an Internet connection. ILIMI is rich in videos, so we recommend at least 256kbps if bandwidth though a 1mbps connection would be ideal. A broadband or a 3G internet connection would work just fine. </p>
                            <h2>How do I sign in to ILIMI?</h2>
                            <p class="explr-content">Once we are in beta you can sign in using your Facebook or Google id. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<% include ../includes/web-scripts %>
<% include ../includes/footer %>

</html>