<!DOCTYPE html>
<html lang="en" ng-app="homePageApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>ekStep Learning Platform</title>
    <% include ../includes/common-styles %>
    <% include ../includes/header-scripts %>
</head>

<body class="home-body" id="home-body" ng-controller="HomePageCtrl">
    <div class="wrapper">
        <header class="nav-down">
            <% include ../includes/header %>
        </header>
        <section class="banner-container container-section sectionNextToHeader">
            <div class="container">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-caption">
                                <h1 class="bannerTitle">ekStep Learning Platform</h1>
                                <p class="banDescription">“Tell me and I forget, teach me and I may remember, involve me and I learn.”<br/>
                                <span style="font-size: 16px" class="text-muted">Benjamin Franklin</span>
                                </p>

                                <a href="javascript:void(0);" class="btn btn-lg btn-primary" data-toggle="modal" ng-click="cleanUp()" data-target="#loginModal">Sign In <i class="icon-roundarrow-right"></i></a>

                            </div>
                            <div class="image-cont">
                                <img src="/img/webimages/slider2.png" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-container">
            <div class="container">
                <div class="martop clearfix chromefix">
                    <div class="widget widgetChg">
                        <div class="pull-left"><i class="topfaculty-icon"></i></div>
                        <div class="pull-left feaContent">
                            <h2 class="tf">Researchers</h2>
                            <span class="feaDescription">See your learning maps come to life. Manage the concepts and skills using the ekStep Learning Platform.</span>
                        </div>
                    </div>
                    <div class="widget widgetChg">
                        <div class="pull-left"><i class="social-learning-icon"></i></div>
                        <div class="pull-left feaContent">
                            <h2 class="tu">Game Developers</h2>
                            <span class="feaDescription">Reach out to millions of students. Build games and connect them to the ekStep platform using Genie SDK.</span>
                        </div>
                    </div>
                    <div class="widget widgetChg">
                        <div class="pull-left"><i class="showcase-icon"></i></div>
                        <div class="pull-left feaContent">
                            <h2 class="sh">Administrators</h2>
                            <span class="feaDescription">See the difference one little step can make. Monitor effectiveness and engagement using ekStep Analytics.</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<% include ../includes/web-scripts %>
<% include ../includes/footer %>

</html>