swagger: '2.0'
info:
  version: '3.0'
  title: Definitions
  description: >-
    The Definitions API of EkStep Learning Platform provides details of
    definitions of all objectTypes supported by the Platform
  license:
    name: EkStep License
    url: 'http:www.EkStep.in'
basePath: /meta/v3
host: api.ekstep.in
securityDefinitions: {}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: Definitions
    description: Provides details about All definitions supported by the platform
paths:
  /definitions/list:
    get:
      summary: Gets All Definitions
      description: >-
        This API returns definitions of all ObjectTypes supported by the EkStep
        Learning Platform
      tags:
        - Definitions
      operationId: ekstep.definitions.list
      produces:
        - application/json
      responses:
        '200':
          description: All Definitions Returned Successfully
          schema:
            $ref: '#/definitions/getAllDefinitionsResponse'
        '400':
          description: >-
            Error While fetching for all definitions! | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'
          schema:
            $ref: '#/definitions/FailedResponseHeader'
        '500':
          description: >-
            Error While fetching for all definitions! | Error occurred while
            operation, mostly because of erroneous condition on server, In
            general it is 'Server Exception' or 'Exception'
          schema:
            $ref: '#/definitions/FailedResponseHeader'
      security: []
  '/definitions/read/{objectType}':
    get:
      summary: Gets Specific Definition
      description: >-
        This API returns specific definition,its properties and relations based
        on the specified object type
      tags:
        - Definitions
      operationId: ekstep.definition.find
      produces:
        - application/json
      parameters:
        - name: objectType
          in: path
          required: true
          description: objectType
          type: string
      responses:
        '200':
          description: Definition of specified objectType Returned Successfully
          schema:
            $ref: '#/definitions/getDefinitionResponse'
        '400':
          description: >-
            Error While fetching for definition of specified objectType! | Error
            occurred while operation, mostly because of the input given by
            client, In general it is 'Client Exception'
          schema:
            $ref: '#/definitions/FailedResponseHeader'
        '500':
          description: >-
            Error While fetching for definition of specified objectType! | Error
            occurred while operation, mostly because of erroneous condition on
            server, In general it is 'Server Exception' or 'Exception'
          schema:
            $ref: '#/definitions/FailedResponseHeader'
      security: []
definitions:
  getAllDefinitionsResponse:
    type: object
    properties:
      id:
        type: string
        description: API Identifier
      ver:
        type: string
        description: API version information
      ts:
        type: string
        description: API execution timespan
      params:
        $ref: '#/definitions/ResponseParams'
      responseCode:
        type: string
        description: API response code
      result:
        $ref: '#/definitions/getAllDefinitionNode'
  getDefinitionResponse:
    type: object
    properties:
      id:
        type: string
        description: API Identifier
      ver:
        type: string
        description: API version information
      ts:
        type: string
        description: API execution timespan
      params:
        $ref: '#/definitions/ResponseParams'
      responseCode:
        type: string
        description: API response code
      result:
        $ref: '#/definitions/result'
  getAllDefinitionNode:
    properties:
      definition_nodes:
        type: array
        items:
          $ref: '#/definitions/definitionNode'
  result:
    properties:
      definition_node:
        $ref: '#/definitions/definitionNode'
  propertiesMetadata:
    type: object
    title: properties
    properties:
      required:
        type: boolean
        description: required
      dataType:
        type: string
        description: dataType
      propertyName:
        type: string
        description: propertyName
      title:
        type: string
        description: title
      description:
        type: string
        description: description
      category:
        type: string
        description: category
      displayProperty:
        type: string
        description: displayProperty
      range:
        type: string
        description: range
      defaultValue:
        type: string
        description: defaultValue
      renderingHints:
        type: string
        description: renderingHints
      indexed:
        type: string
        description: indexed
      draft:
        type: string
        description: draft
  relations:
    properties:
      relationName:
        type: string
        description: relationName
      objectTypes:
        type: object
        description: objectTypes
      title:
        type: string
        description: title
      description:
        type: string
        description: description
      required:
        type: boolean
        description: required
      renderingHints:
        type: string
        description: renderingHints
  definitionNode:
    properties:
      identifier:
        type: string
        description: Identifier
      objectType:
        type: string
        description: objectType
      properties:
        $ref: '#/definitions/propertiesMetadata'
      inRelations:
        type: array
        items:
          $ref: '#/definitions/relations'
      outRelations:
        type: array
        items:
          $ref: '#/definitions/relations'
      systemTags:
        type: array
        items:
          $ref: '#/definitions/systemTag'
      metadata:
        $ref: '#/definitions/metadata'
  metadata:
    properties:
      lastUpdatedOn:
        type: string
        description: last update
  systemTag:
    properties:
      name:
        type: string
        description: name
      description:
        type: string
        description: description
  ResponseParams:
    title: Response Parameter
    type: object
    properties:
      resmsgid:
        type: string
        description: Response Message Id
      msgid:
        type: string
        description: Message Id
      err:
        type: string
        description: Error Code
      status:
        type: string
        description: Response Status
      errmsg:
        type: string
        description: Error Message
  FailedResponseHeader:
    title: Failure Response
    type: object
    properties:
      id:
        type: string
        description: API Identifier
      ver:
        type: string
        description: API version information
      ts:
        type: string
        description: API execution timespan
      params:
        $ref: '#/definitions/FailedResponseParams'
      responseCode:
        type: string
        description: responseCode
  FailedResponseParams:
    title: Failed Response Parameter
    type: object
    properties:
      resmsgid:
        type: string
        description: Response Message Id
      msgid:
        type: string
        description: Message Id
      err:
        type: string
        description: Error Code
      status:
        type: string
        description: Response Status
      errmsg:
        type: string
        description: Error Message
