<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ConsumerConfig>
	<ConsumerInit serverURI="{{ zookeeper_url }}" topic="{{ graph_event_topic_id }}"
		ekstepPlatformURI="{{ platform_api_url }}"
		ekstepPlatformApiUserId="ilimi">
	</ConsumerInit>
	<ConsumerGroups>
		<ConsumerGroup id="composite-search-group-new" messageProcessor="org.ekstep.searchindex.processor.CompositeSearchMessageProcessor">
			<Consumers>
				<Consumer partitions="0,1,2,3,4,5,6,7,8,9,10" />
			</Consumers>
		</ConsumerGroup>
		<ConsumerGroup id="audit-history-group-new" messageProcessor="org.ekstep.searchindex.processor.AuditHistoryMeassageProcessor">
			<Consumers>
				<Consumer partitions="0,1,2,3,4,5,6,7,8,9,10" />
			</Consumers>
		</ConsumerGroup>
		<ConsumerGroup id="word-count-group-new" messageProcessor="org.ekstep.searchindex.processor.WordCountMessageProcessor">
			<Consumers>
				<Consumer partitions="8" />
			</Consumers>
		</ConsumerGroup>
	</ConsumerGroups>
</ConsumerConfig>