
input {
    file {
         type => "graph_event"
         start_position =>"beginning"
         path => ["/data/logs/learning_graph_event_neo4j.log"]
         sincedb_path => "/home/learning/logstash-6.3.1/.sincedb_learning_graph_event_neo4j"
    }
}

filter {
    grok {
      match => [ "message",
                "%{TIMESTAMP_ISO8601:timestamp} %{GREEDYDATA:msg}"]
    }
    mutate {
        gsub => [ "message","%{timestamp}","" ]
        strip => [ "message" ]
    }
    json {
        source => "message"
    }
}


output {
    kafka {
        bootstrap_servers => "{{ graphevent_kafka_url }}"
        codec => plain {
                format => "%{message}"
          }
        message_key => "%{nodeUniqueId}"
        topic_id => "{{ graphevent_kafka_topic_id }}"
        retries => 20
        retry_backoff_ms => 180000
    }
}