
#!/bin/sh
#****************************************************
#AUTHOR:MANOJ V V
#DESCRIPTION:Script for lp-stop-service.
#DATE:25-08-16
#************************************************
if [ `ps -ef | grep redis | grep -v grep | wc -l` -ge 1 ]
then 
	kill -9 `pgrep -f redis`
fi

if [ `ps -ef | grep language-graph-events.conf | grep -v grep | wc -l` -ge 1 ]
then 
	kill -9 `pgrep -f language-graph-events.conf`
fi

if [ `ps -ef | grep logstash-graph-events.conf | grep -v grep | wc -l` -ge 1 ]
then 
	kill -9 `pgrep -f logstash-graph-events.conf`
fi

if [ `ps -ef | grep logstash-word-events.conf | grep -v grep | wc -l` -ge 1 ]
then 
	kill -9 `pgrep -f logstash-word-events.conf`
fi
