
#!/bin/sh
#****************************************************
#AUTHOR:MANOJ V V
#DESCRIPTION:Script for lp-stop-service.
#DATE:25-08-16
#************************************************
if [ `ps -ef | grep redis | grep -v grep | wc -l` -ge 1 ]
then 
	/home/ec2-user/redis-stable/src/redis-cli SHUTDOWN SAVE
fi
