#!/bin/bash

ALIAS_EXIST=`curl '{{ search_index_host }}:9200/_cat/aliases' | grep "lp_suggestion_index_alias" | wc -l`

if [ $ALIAS_EXIST -eq 0 ]
then
	curl -XPUT '{{ search_index_host }}:9200/lp_suggestion_index_v1?pretty' -H 'Content-Type: application/json' -d '@/home/learning/lp_suggestions_index.json'
	curl -XPOST '{{ search_index_host }}:9200/_aliases?pretty' -H 'Content-Type: application/json' -d'
	{
	    "actions" : [
	        { "add" : { "index" : "lp_suggestion_index_v1", "alias" : "lp_suggestion_index_alias" } }
	    ]
	}'
	echo "lp_suggestion_index_alias created."
else
	echo "lp_suggestion_index_alias already exist."
fi
exit 0