
input {
     file {
         path => ["/data/logs/graph_event.log"]
     }
}

filter {
	grok {
    		match => [ "message",
               	"%{TIMESTAMP_ISO8601:timestamp} %{GREEDYDATA:msg}"]
  	}
  	mutate {
    		gsub => [ "message","%{timestamp}","" ]
    		strip => [ "message" ]
  	}
}

output {
  kafka {
   bootstrap_servers => "{{ graphevent_kafka_url }}"
   codec => plain {
            format => "%{message}"
        }
   topic_id => {{ graphevent_kafka_topic_id }}
   retries => 20
   retry_backoff_ms => 180000
 }

}


