<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
	<session-factory>
		<!-- Database connection properties - Driver, URL, user, password -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
			<property name="hibernate.connection.url">jdbc:mysql://lp-sandbox-db.cm8jepwsnit8.ap-southeast-1.rds.amazonaws.com:3306/indowordnet_dump</property>
		<property name="hibernate.connection.username">lpsandboxdb</property>
		<property name="hibernate.connection.password">lp5andb0x</property>

		<!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">5</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<!-- Echo all executed SQL to stdout -->
		<!-- <property name="show_sql">true</property> -->
		<property name="hibernate.generate_statistics">true</property>


		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>


		<!-- Batch Insert -->
		<property name="hibernate.jdbc.batch_size">50</property>


		<!-- Mapping with model class containing annotations -->
		<mapping class="org.ekstep.language.model.AssameseSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.AssameseSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.BengaliSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.BengaliSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.BodoSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.BodoSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.EnglishSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.EnglishHindiSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.EnglishSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.EnglishHindiSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.GujaratiSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.GujaratiSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.HindiSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.HindiSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.KannadaSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.KannadaSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.KonkaniSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.KonkaniSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.MalayalamSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.MalayalamSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.MarathiSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.MarathiSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.NepaliSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.NepaliSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.OriyaSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.OriyaSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.PunjabiSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.PunjabiSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.SanskritSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.SanskritSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.TamilSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.TamilSynsetDataLite"></mapping>
		<mapping class="org.ekstep.language.model.TeluguSynsetData"></mapping>
		<mapping class="org.ekstep.language.model.TeluguSynsetDataLite"></mapping>

	</session-factory>
</hibernate-configuration>