swagger: '2.0'
info:
  version: '2.0'
  title: Assessment - Service
  description: >-
    Assessment Service of EkStep Learning Platform provides resources to create,
    manage and search Assessment Items and ItemSets. AssessmentItem API provides
    resources to work with questions in the platform and ItemSet API provides
    resources to create and manage ItemSets.
  license:
    name: EkStep License
    url: 'http:www.EkStep.in'
basePath: /v1
host: api.ekstep.in
securityDefinitions: {}
schemes:
 - "https"
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: AssessmentItem
    description: Everything related to CRUD Operations of the AssessmentItem
  - name: ItemSet
    description: Everything related to CRUD Operations of the ItemSet
paths:
  /assessmentitem/search:
    post:
      summary: Search an AssessmentItem
      description: >-
        This API searches and retrieves an assessmentitem/question based on the
        filter and relation types specified in the request body
      tags:
        - AssessmentItem
      operationId: assessment_item.search
      produces:
        - application/json
      parameters:
        - name: assessmentSearchRequest
          in: body
          required: true
          description: searchAssessmentRequest
          schema:
            type: object
            required:
              - id
              - params
              - request
              - ts
              - ver
            properties:
              id:
                type: string
              ver:
                type: string
              ts:
                type: string
              params:
                type: object
                required:
                  - msgid
                properties:
                  msgid:
                    type: string
                title: Params
              request:
                properties:
                  metadata:
                    properties:
                      filter:
                        type: array
                        items:
                          title: filters
                          properties:
                            property:
                              type: string
                              description: ''
                            operator:
                              type: string
                              description: ''
                            value:
                              type: string
                              description: ''
                            relations:
                              type: string
                              description: ''
                      sortOrder:
                        type: array
                        items:
                          title: sortOrder
                          properties:
                            sortFields:
                              type: string
                              description: field to be sorted
                            sortOrder:
                              type: string
                              description: sort order
                      resultSize:
                        type: number
                        description: resultSize
                      startPosition:
                        type: number
                        description: startPosition
      responses:
        '200':
          description: AssessmentItem searched Successfully
          schema:
            title: search Response
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: API response code
              result:
                type: array
                items:
                  title: assessmentItem
                  properties:
                    template:
                      type: string
                      description: type of template
                    code:
                      type: string
                      description: code of assessmentItem
                    keywords:
                      type: object
                    subject:
                      type: string
                      description: subject of assessmentItem
                    qlevel:
                      type: string
                      description: qlevel of assessmentItem
                    portalOwner:
                      type: string
                      description: ownerName
                    identifier:
                      type: string
                      description: assessmentId
                    language:
                      type: object
                    partial_scoring:
                      type: string
                      description: scores
                    type:
                      type: string
                      description: assessmentItem type
                    title:
                      type: string
                      description: title
                    usedIn:
                      type: string
                      description: where the assessment is used used
                    createdOn:
                      type: string
                      description: date of creation
                    gradeLevel:
                      type: object
                    conceptIds:
                      type: object
                    question:
                      type: string
                      description: qid
                    options:
                      properties:
                        type:
                          type: string
                          description: ''
                        asset:
                          type: string
                          description: ''
                        font:
                          type: string
                          description: ''
                        color:
                          type: string
                          description: ''
                    concepts:
                      properties:
                        identifier:
                          type: string
                          description: Identifier
                        name:
                          type: string
                          description: name
                        objectType:
                          type: string
                          description: objectType
                        description:
                          type: string
                          description: description
                        relation:
                          type: string
                          description: relationType
                        index:
                          type: string
                          description: index
                    rownum:
                      type: number
                      description: rownum
                    maxScore:
                      type: object
                    domain:
                      type: string
                      description: domain
                    num_answers:
                      type: number
                      description: number of answers
                    template_Id:
                      type: string
                      description: template Id
                    usedFor:
                      type: string
                      description: where the ItemSET is used For
                    max_score:
                      type: number
                      description: maximum score
                    name:
                      type: string
                      description: name
                    lastUpdatedOn:
                      type: string
                      description: last updated date
        '400':
          description: >-
            Error While searching for an AssessmentItem! | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
        '500':
          description: >-
            Error While searching for an AssessmentItem! | Error occurred while
            operation, mostly because of erroneous condition on server, In
            general it is 'Server Exception' or 'Exception'
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
      security: []
  /assessmentitem:
    post:
      summary: Creates an AssessmentItem
      description: >-
        This API creates an assessmentItem/question of type MCQ(multiple choice
        questions) or FTB(fill in the blanks) or MTF(match the following) based
        on the request body
      tags:
        - AssessmentItem
      operationId: assessment_item.create
      produces:
        - application/json
      parameters:
        - name: assessmentCreateRequest
          in: body
          required: true
          description: assessment request Object
          schema:
            type: object
            required:
              - id
              - params
              - request
              - ts
              - ver
            properties:
              id:
                type: string
              ver:
                type: string
              ts:
                type: string
              params:
                type: object
                required:
                  - msgid
                properties:
                  msgid:
                    type: string
                title: Params
              request:
                type: object
                title: Create Assessment Request
                allOf:
                  - description: >-
                      select any one request body to create/update
                      AssessmentItem
                  - properties:
                      identifier:
                        type: string
                        description: assessmentId
                      objectType:
                        type: string
                        description: objectType
                      metadata:
                        allOf:
                          - title: assessmentItem
                            properties:
                              template:
                                type: string
                                description: type of template
                              code:
                                type: string
                                description: code of assessmentItem
                              keywords:
                                type: object
                              subject:
                                type: string
                                description: subject of assessmentItem
                              qlevel:
                                type: string
                                description: qlevel of assessmentItem
                              portalOwner:
                                type: string
                                description: ownerName
                              identifier:
                                type: string
                                description: assessmentId
                              language:
                                type: object
                              partial_scoring:
                                type: string
                                description: scores
                              type:
                                type: string
                                description: assessmentItem type
                              title:
                                type: string
                                description: title
                              usedIn:
                                type: string
                                description: where the assessment is used used
                              createdOn:
                                type: string
                                description: date of creation
                              gradeLevel:
                                type: object
                              conceptIds:
                                type: object
                              question:
                                type: string
                                description: qid
                              options:
                                properties:
                                  type:
                                    type: string
                                    description: ''
                                  asset:
                                    type: string
                                    description: ''
                                  font:
                                    type: string
                                    description: ''
                                  color:
                                    type: string
                                    description: ''
                              concepts:
                                properties:
                                  identifier:
                                    type: string
                                    description: Identifier
                                  name:
                                    type: string
                                    description: name
                                  objectType:
                                    type: string
                                    description: objectType
                                  description:
                                    type: string
                                    description: description
                                  relation:
                                    type: string
                                    description: relationType
                                  index:
                                    type: string
                                    description: index
                              rownum:
                                type: number
                                description: rownum
                              maxScore:
                                type: object
                              domain:
                                type: string
                                description: domain
                              num_answers:
                                type: number
                                description: number of answers
                              template_Id:
                                type: string
                                description: template Id
                              usedFor:
                                type: string
                                description: where the ItemSET is used For
                              max_score:
                                type: number
                                description: maximum score
                              name:
                                type: string
                                description: name
                              lastUpdatedOn:
                                type: string
                                description: last updated date
                          - properties:
                              type:
                                type: string
                                description: ''
                              asset:
                                type: string
                                description: ''
                              font:
                                type: string
                                description: ''
                              color:
                                type: string
                                description: ''
                          - properties:
                              values:
                                type: object
                                description: values
                              score:
                                type: number
                                description: score
                          - properties:
                              type:
                                type: string
                                description: type
                              asset:
                                type: string
                                description: asset
                      outRelations:
                        properties:
                          endNodeId:
                            type: string
                            description: ''
                          relationType:
                            type: string
                            description: ''
                  - properties:
                      identifier:
                        type: string
                        description: assessmentId
                      objectType:
                        type: string
                        description: objectType
                      metadata:
                        allOf:
                          - title: assessmentItem
                            properties:
                              template:
                                type: string
                                description: type of template
                              code:
                                type: string
                                description: code of assessmentItem
                              keywords:
                                type: object
                              subject:
                                type: string
                                description: subject of assessmentItem
                              qlevel:
                                type: string
                                description: qlevel of assessmentItem
                              portalOwner:
                                type: string
                                description: ownerName
                              identifier:
                                type: string
                                description: assessmentId
                              language:
                                type: object
                              partial_scoring:
                                type: string
                                description: scores
                              type:
                                type: string
                                description: assessmentItem type
                              title:
                                type: string
                                description: title
                              usedIn:
                                type: string
                                description: where the assessment is used used
                              createdOn:
                                type: string
                                description: date of creation
                              gradeLevel:
                                type: object
                              conceptIds:
                                type: object
                              question:
                                type: string
                                description: qid
                              options:
                                properties:
                                  type:
                                    type: string
                                    description: ''
                                  asset:
                                    type: string
                                    description: ''
                                  font:
                                    type: string
                                    description: ''
                                  color:
                                    type: string
                                    description: ''
                              concepts:
                                properties:
                                  identifier:
                                    type: string
                                    description: Identifier
                                  name:
                                    type: string
                                    description: name
                                  objectType:
                                    type: string
                                    description: objectType
                                  description:
                                    type: string
                                    description: description
                                  relation:
                                    type: string
                                    description: relationType
                                  index:
                                    type: string
                                    description: index
                              rownum:
                                type: number
                                description: rownum
                              maxScore:
                                type: object
                              domain:
                                type: string
                                description: domain
                              num_answers:
                                type: number
                                description: number of answers
                              template_Id:
                                type: string
                                description: template Id
                              usedFor:
                                type: string
                                description: where the ItemSET is used For
                              max_score:
                                type: number
                                description: maximum score
                              name:
                                type: string
                                description: name
                              lastUpdatedOn:
                                type: string
                                description: last updated date
                          - properties:
                              type:
                                type: string
                                description: type
                              asset:
                                type: string
                                description: asset
                          - properties:
                              index:
                                type: number
                                description: index
                              Options:
                                properties:
                                  type:
                                    type: string
                                    description: ''
                                  asset:
                                    type: string
                                    description: ''
                                  font:
                                    type: string
                                    description: ''
                                  color:
                                    type: string
                                    description: ''
                          - allOf:
                              - properties:
                                  index:
                                    type: number
                                    description: index
                              - properties:
                                  type:
                                    type: string
                                    description: ''
                                  asset:
                                    type: string
                                    description: ''
                                  font:
                                    type: string
                                    description: ''
                                  color:
                                    type: string
                                    description: ''
                  - properties:
                      identifier:
                        type: string
                        description: assessmentId
                      objectType:
                        type: string
                        description: objectType
                      metadata:
                        allOf:
                          - title: assessmentItem
                            properties:
                              template:
                                type: string
                                description: type of template
                              code:
                                type: string
                                description: code of assessmentItem
                              keywords:
                                type: object
                              subject:
                                type: string
                                description: subject of assessmentItem
                              qlevel:
                                type: string
                                description: qlevel of assessmentItem
                              portalOwner:
                                type: string
                                description: ownerName
                              identifier:
                                type: string
                                description: assessmentId
                              language:
                                type: object
                              partial_scoring:
                                type: string
                                description: scores
                              type:
                                type: string
                                description: assessmentItem type
                              title:
                                type: string
                                description: title
                              usedIn:
                                type: string
                                description: where the assessment is used used
                              createdOn:
                                type: string
                                description: date of creation
                              gradeLevel:
                                type: object
                              conceptIds:
                                type: object
                              question:
                                type: string
                                description: qid
                              options:
                                properties:
                                  type:
                                    type: string
                                    description: ''
                                  asset:
                                    type: string
                                    description: ''
                                  font:
                                    type: string
                                    description: ''
                                  color:
                                    type: string
                                    description: ''
                              concepts:
                                properties:
                                  identifier:
                                    type: string
                                    description: Identifier
                                  name:
                                    type: string
                                    description: name
                                  objectType:
                                    type: string
                                    description: objectType
                                  description:
                                    type: string
                                    description: description
                                  relation:
                                    type: string
                                    description: relationType
                                  index:
                                    type: string
                                    description: index
                              rownum:
                                type: number
                                description: rownum
                              maxScore:
                                type: object
                              domain:
                                type: string
                                description: domain
                              num_answers:
                                type: number
                                description: number of answers
                              template_Id:
                                type: string
                                description: template Id
                              usedFor:
                                type: string
                                description: where the ItemSET is used For
                              max_score:
                                type: number
                                description: maximum score
                              name:
                                type: string
                                description: name
                              lastUpdatedOn:
                                type: string
                                description: last updated date
                          - properties:
                              value:
                                type: string
                                description: values
                              score:
                                type: string
                                description: scores
                          - properties:
                              type:
                                type: string
                                description: type
                              asset:
                                type: string
                                description: asset
                      outRelations:
                        properties:
                          endNodeId:
                            type: string
                            description: ''
                          relationType:
                            type: string
                            description: ''
      responses:
        '200':
          description: AssessmentItem Created Successfully
          schema:
            title: Create Response
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: API response code
              result:
                title: Node Id
                type: object
                properties:
                  node_id:
                    type: string
                    description: Node Identifier
        '400':
          description: >-
            Error While creating assessmentItem! | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
        '500':
          description: >-
            Error While Creating assessmentItem! | Error occurred while
            operation, mostly because of erroneous condition on server, In
            general it is 'Server Exception' or 'Exception'
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
      security: []
  '/assessmentitem/{assessmentId}':
    get:
      summary: Gets an AssessmentItem
      description: >-
        This API is used to fetch an assessmentItem from the _EkStep
        Platform_.This endpoint returns the entire assessmentItem Object with
        default fields. 
      tags:
        - AssessmentItem
      operationId: assessment_Item.find
      produces:
        - application/json
      parameters:
        - name: assessmentId
          in: path
          required: true
          description: assessmentId
          type: string
      responses:
        '200':
          description: AssessmentItem fetched Successfully
          schema:
            title: get Response
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: API response code
              result:
                title: assessmentItem
                properties:
                  template:
                    type: string
                    description: type of template
                  code:
                    type: string
                    description: code of assessmentItem
                  keywords:
                    type: object
                  subject:
                    type: string
                    description: subject of assessmentItem
                  qlevel:
                    type: string
                    description: qlevel of assessmentItem
                  portalOwner:
                    type: string
                    description: ownerName
                  identifier:
                    type: string
                    description: assessmentId
                  language:
                    type: object
                  partial_scoring:
                    type: string
                    description: scores
                  type:
                    type: string
                    description: assessmentItem type
                  title:
                    type: string
                    description: title
                  usedIn:
                    type: string
                    description: where the assessment is used used
                  createdOn:
                    type: string
                    description: date of creation
                  gradeLevel:
                    type: object
                  conceptIds:
                    type: object
                  question:
                    type: string
                    description: qid
                  options:
                    properties:
                      type:
                        type: string
                        description: ''
                      asset:
                        type: string
                        description: ''
                      font:
                        type: string
                        description: ''
                      color:
                        type: string
                        description: ''
                  concepts:
                    properties:
                      identifier:
                        type: string
                        description: Identifier
                      name:
                        type: string
                        description: name
                      objectType:
                        type: string
                        description: objectType
                      description:
                        type: string
                        description: description
                      relation:
                        type: string
                        description: relationType
                      index:
                        type: string
                        description: index
                  rownum:
                    type: number
                    description: rownum
                  maxScore:
                    type: object
                  domain:
                    type: string
                    description: domain
                  num_answers:
                    type: number
                    description: number of answers
                  template_Id:
                    type: string
                    description: template Id
                  usedFor:
                    type: string
                    description: where the ItemSET is used For
                  max_score:
                    type: number
                    description: maximum score
                  name:
                    type: string
                    description: name
                  lastUpdatedOn:
                    type: string
                    description: last updated date
        '400':
          description: >-
            Error While fetching the assessmentItem! | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'.
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
        '500':
          description: >-
            Error While fetching the assessmentItem! | Error occurred while
            operation, mostly because of erroneous condition on server, In
            general it is 'Server Exception' or 'Exception'.
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
      security: []
    delete:
      summary: Deletes an AssessmentItem
      description: This API is used to delete an assessmentItem from the EkStep Platform
      tags:
        - AssessmentItem
      operationId: assessment_item.delete
      produces:
        - application/json
      parameters:
        - name: assessmentId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: AssessmentItem deleted Successfully
          schema:
            title: Delete Response
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: API response code
              result:
                properties: {}
        '400':
          description: >-
            Error While deleting the assessmentItem! | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'.
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
        '500':
          description: >-
            Error While deleting the assessmentItem! | Error occurred while
            operation, mostly because of erroneous condition on server, In
            general it is 'Server Exception' or 'Exception'.
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
      security: []
    patch:
      summary: Updates the given assessmentItem
      description: >-
        This API is used to update an assessmentItem based on the request body
        provided from the _EkStep Platform_. This endpoint return node_Id on
        updation
      tags:
        - AssessmentItem
      operationId: assessment_item.patch
      produces:
        - application/json
      parameters:
        - name: assessmentId
          in: path
          required: true
          type: string
        - name: update assessment request
          in: body
          required: true
          schema:
            type: object
            required:
              - id
              - params
              - request
              - ts
              - ver
            properties:
              id:
                type: string
              ver:
                type: string
              ts:
                type: string
              params:
                type: object
                required:
                  - msgid
                properties:
                  msgid:
                    type: string
                title: Params
              request:
                type: object
                title: Create Assessment Request
                allOf:
                  - description: >-
                      select any one request body to create/update
                      AssessmentItem
                  - properties:
                      identifier:
                        type: string
                        description: assessmentId
                      objectType:
                        type: string
                        description: objectType
                      metadata:
                        allOf:
                          - title: assessmentItem
                            properties:
                              template:
                                type: string
                                description: type of template
                              code:
                                type: string
                                description: code of assessmentItem
                              keywords:
                                type: object
                              subject:
                                type: string
                                description: subject of assessmentItem
                              qlevel:
                                type: string
                                description: qlevel of assessmentItem
                              portalOwner:
                                type: string
                                description: ownerName
                              identifier:
                                type: string
                                description: assessmentId
                              language:
                                type: object
                              partial_scoring:
                                type: string
                                description: scores
                              type:
                                type: string
                                description: assessmentItem type
                              title:
                                type: string
                                description: title
                              usedIn:
                                type: string
                                description: where the assessment is used used
                              createdOn:
                                type: string
                                description: date of creation
                              gradeLevel:
                                type: object
                              conceptIds:
                                type: object
                              question:
                                type: string
                                description: qid
                              options:
                                properties:
                                  type:
                                    type: string
                                    description: ''
                                  asset:
                                    type: string
                                    description: ''
                                  font:
                                    type: string
                                    description: ''
                                  color:
                                    type: string
                                    description: ''
                              concepts:
                                properties:
                                  identifier:
                                    type: string
                                    description: Identifier
                                  name:
                                    type: string
                                    description: name
                                  objectType:
                                    type: string
                                    description: objectType
                                  description:
                                    type: string
                                    description: description
                                  relation:
                                    type: string
                                    description: relationType
                                  index:
                                    type: string
                                    description: index
                              rownum:
                                type: number
                                description: rownum
                              maxScore:
                                type: object
                              domain:
                                type: string
                                description: domain
                              num_answers:
                                type: number
                                description: number of answers
                              template_Id:
                                type: string
                                description: template Id
                              usedFor:
                                type: string
                                description: where the ItemSET is used For
                              max_score:
                                type: number
                                description: maximum score
                              name:
                                type: string
                                description: name
                              lastUpdatedOn:
                                type: string
                                description: last updated date
                          - properties:
                              type:
                                type: string
                                description: ''
                              asset:
                                type: string
                                description: ''
                              font:
                                type: string
                                description: ''
                              color:
                                type: string
                                description: ''
                          - properties:
                              values:
                                type: object
                                description: values
                              score:
                                type: number
                                description: score
                          - properties:
                              type:
                                type: string
                                description: type
                              asset:
                                type: string
                                description: asset
                      outRelations:
                        properties:
                          endNodeId:
                            type: string
                            description: ''
                          relationType:
                            type: string
                            description: ''
                  - properties:
                      identifier:
                        type: string
                        description: assessmentId
                      objectType:
                        type: string
                        description: objectType
                      metadata:
                        allOf:
                          - title: assessmentItem
                            properties:
                              template:
                                type: string
                                description: type of template
                              code:
                                type: string
                                description: code of assessmentItem
                              keywords:
                                type: object
                              subject:
                                type: string
                                description: subject of assessmentItem
                              qlevel:
                                type: string
                                description: qlevel of assessmentItem
                              portalOwner:
                                type: string
                                description: ownerName
                              identifier:
                                type: string
                                description: assessmentId
                              language:
                                type: object
                              partial_scoring:
                                type: string
                                description: scores
                              type:
                                type: string
                                description: assessmentItem type
                              title:
                                type: string
                                description: title
                              usedIn:
                                type: string
                                description: where the assessment is used used
                              createdOn:
                                type: string
                                description: date of creation
                              gradeLevel:
                                type: object
                              conceptIds:
                                type: object
                              question:
                                type: string
                                description: qid
                              options:
                                properties:
                                  type:
                                    type: string
                                    description: ''
                                  asset:
                                    type: string
                                    description: ''
                                  font:
                                    type: string
                                    description: ''
                                  color:
                                    type: string
                                    description: ''
                              concepts:
                                properties:
                                  identifier:
                                    type: string
                                    description: Identifier
                                  name:
                                    type: string
                                    description: name
                                  objectType:
                                    type: string
                                    description: objectType
                                  description:
                                    type: string
                                    description: description
                                  relation:
                                    type: string
                                    description: relationType
                                  index:
                                    type: string
                                    description: index
                              rownum:
                                type: number
                                description: rownum
                              maxScore:
                                type: object
                              domain:
                                type: string
                                description: domain
                              num_answers:
                                type: number
                                description: number of answers
                              template_Id:
                                type: string
                                description: template Id
                              usedFor:
                                type: string
                                description: where the ItemSET is used For
                              max_score:
                                type: number
                                description: maximum score
                              name:
                                type: string
                                description: name
                              lastUpdatedOn:
                                type: string
                                description: last updated date
                          - properties:
                              type:
                                type: string
                                description: type
                              asset:
                                type: string
                                description: asset
                          - properties:
                              index:
                                type: number
                                description: index
                              Options:
                                properties:
                                  type:
                                    type: string
                                    description: ''
                                  asset:
                                    type: string
                                    description: ''
                                  font:
                                    type: string
                                    description: ''
                                  color:
                                    type: string
                                    description: ''
                          - allOf:
                              - properties:
                                  index:
                                    type: number
                                    description: index
                              - properties:
                                  type:
                                    type: string
                                    description: ''
                                  asset:
                                    type: string
                                    description: ''
                                  font:
                                    type: string
                                    description: ''
                                  color:
                                    type: string
                                    description: ''
                  - properties:
                      identifier:
                        type: string
                        description: assessmentId
                      objectType:
                        type: string
                        description: objectType
                      metadata:
                        allOf:
                          - title: assessmentItem
                            properties:
                              template:
                                type: string
                                description: type of template
                              code:
                                type: string
                                description: code of assessmentItem
                              keywords:
                                type: object
                              subject:
                                type: string
                                description: subject of assessmentItem
                              qlevel:
                                type: string
                                description: qlevel of assessmentItem
                              portalOwner:
                                type: string
                                description: ownerName
                              identifier:
                                type: string
                                description: assessmentId
                              language:
                                type: object
                              partial_scoring:
                                type: string
                                description: scores
                              type:
                                type: string
                                description: assessmentItem type
                              title:
                                type: string
                                description: title
                              usedIn:
                                type: string
                                description: where the assessment is used used
                              createdOn:
                                type: string
                                description: date of creation
                              gradeLevel:
                                type: object
                              conceptIds:
                                type: object
                              question:
                                type: string
                                description: qid
                              options:
                                properties:
                                  type:
                                    type: string
                                    description: ''
                                  asset:
                                    type: string
                                    description: ''
                                  font:
                                    type: string
                                    description: ''
                                  color:
                                    type: string
                                    description: ''
                              concepts:
                                properties:
                                  identifier:
                                    type: string
                                    description: Identifier
                                  name:
                                    type: string
                                    description: name
                                  objectType:
                                    type: string
                                    description: objectType
                                  description:
                                    type: string
                                    description: description
                                  relation:
                                    type: string
                                    description: relationType
                                  index:
                                    type: string
                                    description: index
                              rownum:
                                type: number
                                description: rownum
                              maxScore:
                                type: object
                              domain:
                                type: string
                                description: domain
                              num_answers:
                                type: number
                                description: number of answers
                              template_Id:
                                type: string
                                description: template Id
                              usedFor:
                                type: string
                                description: where the ItemSET is used For
                              max_score:
                                type: number
                                description: maximum score
                              name:
                                type: string
                                description: name
                              lastUpdatedOn:
                                type: string
                                description: last updated date
                          - properties:
                              value:
                                type: string
                                description: values
                              score:
                                type: string
                                description: scores
                          - properties:
                              type:
                                type: string
                                description: type
                              asset:
                                type: string
                                description: asset
                      outRelations:
                        properties:
                          endNodeId:
                            type: string
                            description: ''
                          relationType:
                            type: string
                            description: ''
      responses:
        '200':
          description: AssessmentItem Updated Successfully
          schema:
            title: Update Response
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: API response code
              result:
                title: Node Id
                type: object
                properties:
                  node_id:
                    type: string
                    description: Node Identifier
        '400':
          description: >-
            Error While Updating the assessmentItem! | Error occurred while
            operation, mostly because of the input given by client, In general
            it is 'Client Exception'
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
        '500':
          description: >-
            Error While Updating the assessmentItem! | Error occurred while
            operation, mostly because of erroneous condition on server, In
            general it is 'Server Exception' or 'Exception'
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
      security: []
  /assessmentitemset:
    post:
      summary: Creates an ItemSet
      description: >-
        This API is used to create an ItemSet into the _EkStep Platform_ based
        on the request body provided. This endpoint returns the response Object
        with SetId created
      tags:
        - ItemSet
      operationId: itemSet.create
      produces:
        - application/json
      parameters:
        - name: ItemSet create Request
          in: body
          required: true
          schema:
            type: object
            required:
              - id
              - params
              - request
              - ts
              - ver
            properties:
              id:
                type: string
              ver:
                type: string
              ts:
                type: string
              params:
                type: object
                required:
                  - msgid
                properties:
                  msgid:
                    type: string
                title: Params
              request:
                properties:
                  identifier:
                    type: string
                    description: assessmentId
                  objectType:
                    type: string
                    description: objectType
                  metadata:
                    type: object
                    title: creates ItemSet
                    allOf:
                      - properties:
                          owner:
                            type: string
                            description: ownerName
                          difficulty_level:
                            type: string
                            description: defficulty_level
                          identifier:
                            type: string
                            description: assessmentId
                          code:
                            type: string
                            description: code of assessmentItem
                          subject:
                            type: string
                            description: subject of assessmentItem
                          SET_OBJECT_TYPE_KEY:
                            type: string
                            description: set object type
                          description:
                            type: string
                            description: description
                          language:
                            type: object
                            description: languages
                          type:
                            type: string
                            description: assessmentItem type
                          title:
                            type: string
                            description: title
                          createdOn:
                            type: string
                            description: creation date
                          totalItems:
                            type: number
                            description: total number of items
                          gradeLevel:
                            type: object
                            description: gradelevel
                          maxScore:
                            type: object
                            description: maxScore
                          lastUpdatedOn:
                            type: string
                            description: last updated date
                          usedFor:
                            type: string
                            description: where the ItemSET is used For
                          SET_TYPE:
                            type: string
                            description: Item Set Type
                      - properties:
                          memberIds:
                            type: array
                            items:
                              properties:
                                membersIds:
                                  type: string
                                  description: list of memberIds
                      - properties:
                          endNodeId:
                            type: string
                            description: ''
                          relationType:
                            type: string
                            description: ''
      responses:
        '200':
          description: Item Created Successfully
          schema:
            title: Create Response
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: API response code
              result:
                title: Set Id
                type: object
                properties:
                  set_id:
                    type: string
                    description: Set Identifier
        '400':
          description: >-
            Error While creating Item! | Error occurred while operation, mostly
            because of the input given by client, In general it is 'Client
            Exception'
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
        '500':
          description: >-
            Error While creating Item! | Error occurred while operation, mostly
            because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
      security: []
  '/assessmentitemset/{ItemSetId}':
    get:
      summary: Gets an ItemSet
      description: >-
        This API is used to fetch an ItemSet from Item Repository of EkStep
        Platform. This endpoint returns the entire ItemSet Object with default
        fields.
      tags:
        - ItemSet
      operationId: itemSet.find
      produces:
        - application/json
      parameters:
        - name: ItemSetId
          in: path
          required: true
          description: itemSetId
          type: string
      responses:
        '200':
          description: ItemSet fetched Successfully
          schema:
            title: Get Response
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: API response code
              result:
                properties:
                  owner:
                    type: string
                    description: ownerName
                  difficulty_level:
                    type: string
                    description: defficulty_level
                  identifier:
                    type: string
                    description: assessmentId
                  code:
                    type: string
                    description: code of assessmentItem
                  subject:
                    type: string
                    description: subject of assessmentItem
                  SET_OBJECT_TYPE_KEY:
                    type: string
                    description: set object type
                  description:
                    type: string
                    description: description
                  language:
                    type: object
                    description: languages
                  type:
                    type: string
                    description: assessmentItem type
                  title:
                    type: string
                    description: title
                  createdOn:
                    type: string
                    description: creation date
                  totalItems:
                    type: number
                    description: total number of items
                  gradeLevel:
                    type: object
                    description: gradelevel
                  maxScore:
                    type: object
                    description: maxScore
                  lastUpdatedOn:
                    type: string
                    description: last updated date
                  usedFor:
                    type: string
                    description: where the ItemSET is used For
                  SET_TYPE:
                    type: string
                    description: Item Set Type
        '400':
          description: >-
            Error While fetching the ItemSet! | Error occurred while operation,
            mostly because of the input given by client, In general it is
            'Client Exception'.
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
        '500':
          description: >-
            Error While fetching the ItemSet! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is
            'Server Exception' or 'Exception'.
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
      security: []
    delete:
      summary: Deletes an ItemSet
      description: >-
        This API is used to delete an Item set from the ItemSet repository of
        EkStep Platform.
      tags:
        - ItemSet
      operationId: itemSet.delete
      produces:
        - application/json
      parameters:
        - name: ItemSetId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: ItemSet deleted Successfully
          schema:
            title: Delete Response
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: API response code
              result:
                properties: {}
        '400':
          description: >-
            Error While deleting the ItemSet! | Error occurred while operation,
            mostly because of the input given by client, In general it is
            'Client Exception'.
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
        '500':
          description: >-
            Error While deleting the ItemSet! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is
            'Server Exception' or 'Exception'.
          schema:
            title: Failure Response
            type: object
            properties:
              id:
                type: string
                description: API Identifier
              ver:
                type: string
                description: API version information
              ts:
                type: string
                description: API execution timespan
              params:
                title: Failed Response Parameter
                type: object
                properties:
                  resmsgid:
                    type: string
                    description: Response Message Id
                  msgid:
                    type: string
                    description: Message Id
                  err:
                    type: string
                    description: Error Code
                  status:
                    type: string
                    description: Response Status
                  errmsg:
                    type: string
                    description: Error Message
              responseCode:
                type: string
                description: responseCode
      security: []
    patch:
      summary: Updates an ItemSet
      description: >-
        This API is used to update an existing ItemSet in the Item repository 
        based on the request body provided from the _EkStep Platform_. This
        endpoint returns responseObject with SetId on updation
      tags:
        - ItemSet
      operationId: itemSet.patch
      produces:
        - application/json
      parameters:
        - name: ItemSetId
          in: path
          required: true
          type: string
        - name: ItemSetUpdateRequest
          in: body
          required: true
          schema:
            type: object
            required:
              - id
              - params
              - request
              - ts
              - ver
            properties:
              id:
                type: string
              ver:
                type: string
              ts:
                type: string
              params:
                type: object
                required:
                  - msgid
                properties:
                  msgid:
                    type: string
                title: Params
              request:
                properties:
                  identifier:
                    type: string
                    description: assessmentId
                  objectType:
                    type: string
                    description: objectType
                  metadata:
                    type: object
                    allOf:
                      - properties:
                          owner:
                            type: string
                            description: ownerName
                          difficulty_level:
                            type: string
                            description: defficulty_level
                          identifier:
                            type: string
                            description: assessmentId
                          code:
                            type: string
                            description: code of assessmentItem
                          subject:
                            type: string
                            description: subject of assessmentItem
                          SET_OBJECT_TYPE_KEY:
                            type: string
                            description: set object type
                          description:
                            type: string
                            description: description
                          language:
                            type: object
                            description: languages
                          type:
                            type: string
                            description: assessmentItem type
                          title:
                            type: string
                            description: title
                          createdOn:
                            type: string
                            description: creation date
                          totalItems:
                            type: number
                            description: total number of items
                          gradeLevel:
                            type: object
                            description: gradelevel
                          maxScore:
                            type: object
                            description: maxScore
                          lastUpdatedOn:
                            type: string
                            description: last updated date
                          usedFor:
                            type: string
                            description: where the ItemSET is used For
                          SET_TYPE:
[...]
