CREATE KEYSPACE IF NOT EXISTS content_store WITH replication = {
  'class': 'SimpleStrategy',
  'replication_factor': '1'
};

CREATE TABLE IF NOT EXISTS content_store.content_data (
  content_id text, 
  last_updated_on timestamp,
  body blob,
  PRIMARY KEY (content_id)
);

ALTER TABLE content_store.content_data ADD oldBody blob;

CREATE TABLE IF NOT EXISTS script_store.script_data (
  name text,
  type text,
  reqmap text,
  PRIMARY KEY (name)
);