CREATE KEYSPACE IF NOT EXISTS content_store WITH replication = {
  'class': 'SimpleStrategy',
  'replication_factor': '1'
};

CREATE TABLE IF NOT EXISTS content_store.content_data (
  content_id text, 
  last_updated_on timestamp,
  body blob,
  PRIMARY KEY (content_id)
);

ALTER TABLE content_store.content_data ADD oldBody blob;

CREATE KEYSPACE IF NOT EXISTS script_store WITH replication = {
  'class': 'SimpleStrategy',
  'replication_factor': '1'
};

CREATE TABLE IF NOT EXISTS script_store.script_data (
  name text,
  type text,
  reqmap text,
  PRIMARY KEY (name)
);

CREATE KEYSPACE IF NOT EXISTS dialcode_store WITH replication = {'class': 'SimpleStrategy', 'replication_factor': '3'};

CREATE TABLE IF NOT EXISTS dialcode_store.dial_code (
identifier text,
dialcode_index int,
publisher text,
channel text,
batchCode text,
metadata text,
count int,
status text,
generated_on text,
published_on text, 
primary key(identifier)
);