[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
User={{ learner_user }}
Group={{ learner_user }}
ExecStart={{ redis_dir }}/redis-{{ redis_version }}/src/redis-server {{ redis_dir }}/redis-{{ redis_version }}/redis.conf
ExecStop={{ redis_dir }}/redis-{{ redis_version }}/src/redis-cli shutdown
Restart=always
Type=forking

[Install]
WantedBy=multi-user.target
