{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "Config-Service",
    "description": "The Config-Service of EkStep Platform provides details of Config resourcebundles of languages supported by the platform",
    "license": {
      "name": "EkStep License",
      "url": "http:www.EkStep.in"
    }
  },
   "host": "api.ekstep.in",
  "securityDefinitions": {},
   "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v3/resourcebundles/list": {
      "get": {
        "summary": "Gets All resourcebundles",
        "description": "This API returns all the resourcebundles for languages supported by the EkStep Platform",
        "tags": [
          "ResourceBundle"
        ],
        "operationId": "resourebundles.list",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "All resourcebundles Returned Successfully",
            "schema": {
              "$ref": "#/definitions/getAllResourcebundlesResponse"
            }
          },
          "400": {
            "description": "Error While fetching for all resourcebundles! | Error occurred while operation, mostly because of the input given by client, In general it is 'Client Exception'",
            "schema": {
              "$ref": "#/definitions/FailedResponseHeader"
            }
          },
          "500": {
            "description": "Error While fetching for all resourcebundles! | Error occurred while operation, mostly because of erroneous condition on server, In general it is 'Server Exception' or 'Exception'",
            "schema": {
              "$ref": "#/definitions/FailedResponseHeader"
            }
          }
        },
        "security": []
      }
    },
    "/v3/resourcebundles/read{languageId}": {
      "get": {
        "summary": "Gets Specific resourcebundle",
        "description": "This API returns specific resourcebundle based on the specified language",
        "tags": [
          "ResourceBundle"
        ],
        "operationId": "resourcebundles.find",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "languageId",
            "in": "path",
            "required": true,
            "description": "languageId",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ResourcebundleJson of specified language Returned Successfully",
            "schema": {
              "$ref": "#/definitions/getResourcebundleResponse"
            }
          },
          "400": {
            "description": "Error While fetching for resourcebundle of specified language! | Error occurred while operation, mostly because of the input given by client, In general it is 'Client Exception'",
            "schema": {
              "$ref": "#/definitions/FailedResponseHeader"
            }
          },
          "500": {
            "description": "Error While fetching for definition of specified language! | Error occurred while operation, mostly because of erroneous condition on server, In general it is 'Server Exception' or 'Exception'",
            "schema": {
              "$ref": "#/definitions/FailedResponseHeader"
            }
          }
        },
        "security": []
      }
    },
    "/v3/ordinals/list": {
      "get": {
        "summary": "Gets Config ordianls",
        "description": "This API returns list of config ordinals supported by the platform",
        "tags": [
          "Ordinals"
        ],
        "operationId": "ordinals.list",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Config ordinals Returned Successfully",
            "schema": {
              "$ref": "#/definitions/getOrdinalsResponse"
            }
          },
          "400": {
            "description": "Error While fetching for config ordinals! | Error occurred while operation, mostly because of the input given by client, In general it is 'Client Exception'",
            "schema": {
              "$ref": "#/definitions/FailedResponseHeader"
            }
          },
          "500": {
            "description": "Error While fetching for config ordinalse! | Error occurred while operation, mostly because of erroneous condition on server, In general it is 'Server Exception' or 'Exception'",
            "schema": {
              "$ref": "#/definitions/FailedResponseHeader"
            }
          }
        },
        "security": []
      }
    }
  },
  "definitions": {
    "getAllResourcebundlesResponse": {
      "type": "object",
      "properties":{
        "id": {
          "type": "string",
          "description": "API Identifier"
        },
        "ver": {
          "type": "string",
          "description": "API version information"
        },
        "ts": {
          "type": "string",
          "description": "API execution timespan"
        },
        "params": {
          "$ref": "#/definitions/ResponseParams"
        },
        "responseCode": {
          "type": "string",
          "description": "API response code"
        },
        "result":{
          "$ref": "#/definitions/getAllResourcebundles"
        }
      }
    },
    "getResourcebundleResponse": {
      "type": "object",
      "properties":{
        "id": {
          "type": "string",
          "description": "API Identifier"
        },
        "ver": {
          "type": "string",
          "description": "API version information"
        },
        "ts": {
          "type": "string",
          "description": "API execution timespan"
        },
        "params": {
          "$ref": "#/definitions/ResponseParams"
        },
        "responseCode": {
          "type": "string",
          "description": "API response code"
        },
        "result":{
          "$ref": "#/definitions/getResourcebundle"
        }
      }
    },
    "getOrdinalsResponse": {
      "type": "object",
      "properties":{
        "id": {
          "type": "string",
          "description": "API Identifier"
        },
        "ver": {
          "type": "string",
          "description": "API version information"
        },
        "ts": {
          "type": "string",
          "description": "API execution timespan"
        },
        "params": {
          "$ref": "#/definitions/ResponseParams"
        },
        "responseCode": {
          "type": "string",
          "description": "API response code"
        },
        "result":{
          "$ref": "#/definitions/getOrdinals"
        }
      }
    },
    "getAllResourcebundles":{
      "title":"resourcebundles",
      "type":"object",
      "properties":{
        "hi":{
          "$ref":"#/definitions/resourcebundles"
        },
        "ka" :{
          "$ref":"#/definitions/resourcebundles"
        },
        "te" :{
          "$ref":"#/definitions/resourcebundles"
        },
        "en" :{
          "$ref":"#/definitions/resourcebundles"
        },
        "ta" :{
          "$ref":"#/definitions/resourcebundles"
        }
      }
    },
    "getResourcebundle":{
      "type":"object",
      "properties":{
        "id":{
          "$ref":"#/definitions/resourcebundles"
        }
      }
    },
    "getOrdinals":{
      "title":"ordinals",
      "type":"object",
      "properties":{
        "schema":{
          "$ref":"#/definitions/ordinals"
        }
       }
    },
      "ordinals":{
         "title":"ordinals",
         "type":"object",
         "properties":{
            "optStatus":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/optStatus"
              }
            },
            "genre":{
               "type":"array",
              "items":{
                   "$ref":"#/definitions/genre"
              }
            },
            "skills":{
            "type":"array",
              "items":{
                   "$ref":"#/definitions/skills"
              }
            },
            "resources":{
            "type":"array",
              "items":{
                   "$ref":"#/definitions/resources"
              }
            },
            "idealScreenSize":{
            "type":"array",
              "items":{
                   "$ref":"#/definitions/idealScreenSize"
              }
            },
            "visibility":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/visibility"
              }
            },
            "contentType":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/contentType"
              }
            },
             "mediaType":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/mediaType"
              }
            },
             "Feedback":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/Feedback"
              }
            },
            "templateType":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/templateType"
              }
            },
            "domain":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/domain"
              }
            },
            "license":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/license"
              }
            },
            "mimeType":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/mimeType"
              }
            },
             "ageGroup":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/ageGroup"
              }
            },
             "os":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/os"
              }
            },
            "idealScreenDensity":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/idealScreenDensity"
              }
            },
            "status":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/status"
              }
            },
            "feedbackType":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/feedbackType"
              }
            },
            "Theme":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/Theme"
              }
            },
            "teachingMode":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/teachingMode"
              }
            },
            "interactivityLevel":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/interactivityLevel"
              }
            },
             "scaffolding":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/scaffolding"
              }
            },
             "gradeLevel":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/gradeLevel"
              }
            },
            "language":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/language"
              }
            },
             "curriculum":{
              "type":"array",
              "items":{
                   "$ref":"#/definitions/curriculum"
              }
            }
         }
      },
       "curriculum":{
         "properties":{
           "NCERT":{
             "type":"string",
             "description":"NCERT"
           },
           "CBSE":{
             "type":"string",
             "description":"CBSE"
           },
           "ICSE":{
             "type":"string",
             "description":"ICSE"
           },
           "State Curriculum":{
             "type":"string",
             "description":"State Curriculum"
           }
         }
       },
       "language":{
         "properties":{
           "English":{
             "type":"string",
             "description":"English"
           },
           "Hindi":{
             "type":"string",
             "description":"Hindi"
           },
           "Assamese":{
             "type":"string",
             "description":"Assamese"
           },
           "Bengali":{
             "type":"string",
             "description":"Bengali"
           },
           "Gujarati":{
             "type":"string",
             "description":"Gujarati"
           },
           "Kannada":{
             "type":"string",
             "description":"Kannada"
           },
            "Malayalam":{
             "type":"string",
             "description":"Malayalam"
           },
            "Marathi":{
             "type":"string",
             "description":"Marathi"
           },
            "Nepali":{
             "type":"string",
             "description":"Nepali"
           },
            "Oriya":{
             "type":"string",
             "description":"Oriya"
           },
            "Punjabi":{
             "type":"string",
             "description":"Punjabi"
           },
            "Tamil":{
             "type":"string",
             "description":"Tamil"
           },
            "Telugu":{
             "type":"string",
             "description":"Telugu"
           },
            "Urdu":{
             "type":"string",
             "description":"Urdu"
           }
         }
       },
      "gradeLevel":{
         "properties":{
           "Kindergarten":{
             "type":"string",
             "description":"Kindergarten"
           },
           "Grade 1":{
             "type":"string",
             "description":"Grade 1"
           },
           "Grade 2":{
             "type":"string",
             "description":"Grade 2"
           },
           "Grade 3":{
             "type":"string",
             "description":"Grade 3"
           },
           "Grade 4":{
             "type":"string",
             "description":"Grade 4"
           },
           "Grade 5":{
             "type":"string",
             "description":"Grade 5"
           }
         }
       },
      "scaffolding":{
         "properties":{
           "Tutorial":{
             "type":"string",
             "description":"Tutorial"
           },
           "Help":{
             "type":"string",
             "description":"Help"
           },
           "Practice":{
             "type":"string",
             "description":"Practice"
           }
         }
       },
       "interactivityLevel":{
         "properties":{
           "High":{
             "type":"string",
             "description":"High"
           },
           "Medium":{
             "type":"string",
             "description":"Medium"
           },
           "Low":{
             "type":"string",
             "description":"Low"
           }
         }
       },
      "teachingMode":{
         "properties":{
           "Abstract":{
             "type":"string",
             "description":"Abstract"
           },
           "Concrete":{
             "type":"string",
             "description":"Concrete"
           },
           "Pictorial":{
             "type":"string",
             "description":"Pictorial"
           }
         }
       },
      "Theme":{
         "properties":{
           "History":{
             "type":"string",
             "description":"History"
           },
           "Adventure":{
             "type":"string",
             "description":"Adventure"
           },
           "Mystery":{
             "type":"string",
             "description":"Mystery"
           },
           "Science":{
             "type":"string",
             "description":"Science"
           },
           "Nature":{
             "type":"string",
             "description":"Nature"
           },
           "Art":{
             "type":"string",
             "description":"Art"
           },
           "Music":{
             "type":"string",
             "description":"Music"
           },
           "Funny":{
             "type":"string",
             "description":"Funny"
           },
           "Family":{
             "type":"string",
             "description":"Family"
           },
            "Life Skills":{
             "type":"string",
             "description":"Life Skills"
           },
            "Scary":{
             "type":"string",
             "description":"Scary"
           },
            "School Stories":{
             "type":"string",
             "description":"School Stories"
           },
            "Holidays":{
             "type":"string",
             "description":"Holidays"
           },
            "Hobby":{
             "type":"string",
             "description":"Hobby"
           },
            "Geography":{
             "type":"string",
             "description":"Geography"
           }
         }
       },
       "feedbackType":{
         "properties":{
           "Audio":{
             "type":"string",
             "description":"Audio"
           },
           "Visual":{
             "type":"string",
             "description":"Visual"
           },
           "Textual":{
             "type":"string",
             "description":"Textual"
           },
           "Tactile":{
             "type":"string",
             "description":"Tactile"
           }
         }
       },
      "status":{
         "properties":{
           "live":{
             "type":"string",
             "description":"live"
           },
           "deaft":{
             "type":"string",
             "description":"draft"
           },
           "retired":{
             "type":"string",
             "description":"retired"
           },
           "mock":{
             "type":"string",
             "description":"mock"
           },
           "flagged":{
             "type":"string",
             "description":"flagged"
           },
           "redraft":{
             "type":"string",
             "description":"redraft"
           },
           "review":{
             "type":"string",
             "description":"review"
           }
         }
      },
      "idealScreenDensity":{
         "properties":{
           "ldpi":{
             "type":"string",
             "description":"ldpi"
           },
           "mdpi":{
             "type":"string",
             "description":"mdpi"
           },
           "hdpi":{
             "type":"string",
             "description":"hdpi"
           },
           "xhdpi":{
             "type":"string",
             "description":"xhdpi"
           },
           "xxhdpi":{
             "type":"string",
             "description":"xxhdpi"
           },
           "xxxhdpi":{
             "type":"string",
             "description":"xxxhdpi"
           }
         }
      },
       "ageGroup":{
         "properties":{
           "<5":{
             "type":"string",
             "description":"<5"
           },
           "5-6":{
             "type":"string",
             "description":"5-6"
           },
           "6-7":{
             "type":"string",
             "description":"6-7"
           },
           "7-8":{
             "type":"string",
             "description":"7-8"
           },
            "8-10":{
             "type":"string",
             "description":"8-10"
           },
            ">10":{
             "type":"string",
             "description":">10"
           }
         }
      },
       "os":{
         "properties":{
           "All":{
             "type":"string",
             "description":"All"
           },
           "Android":{
             "type":"string",
             "description":"Android"
           },
           "ios":{
             "type":"string",
             "description":"ios"
           },
           "windows":{
             "type":"string",
             "description":"windows"
           }
         }
      },
      "license":{
        "properties":{
          "Against DRM license":{
            "type":"string",
             "description":"Against DRM license"
          }, 
         "Creative Commons Attribution (CC BY)":{
            "type":"string",
             "description":"Creative Commons Attribution (CC BY)"
          }, 
          "Creative Commons Attribution-ShareAlike (CC BY-SA)":{
            "type":"string",
             "description":"Creative Commons Attribution-ShareAlike (CC BY-SA)"
          }, 
          "Creative Commons Zero (CC0)":{
            "type":"string",
             "description":"Creative Commons Zero (CC0)"
          }, 
          "Free Art License":{
            "type":"string",
             "description":"Free Art License"
          }, 
          "Open Audio License":{
            "type":"string",
             "description":"Open Audio License"
          }, 
          "Open Game License":{
            "type":"string",
             "description":"Open Game License"
          } 
        }
      },
      "mimeType":{
        "properties":{
          "application/vnd.ekstep.ecml-archive":{
            "type":"string",
             "description":"application/vnd.ekstep.ecml-archive"
          }, 
         "application/vnd.ekstep.html-archive":{
            "type":"string",
             "description":"application/vnd.ekstep.html-archive"
          }, 
          "application/vnd.android.package-archive":{
            "type":"string",
             "description":"application/vnd.android.package-archive"
          }, 
          "application/vnd.ekstep.content-archive":{
            "type":"string",
             "description":"application/vnd.ekstep.content-archive"
          }, 
          "application/vnd.ekstep.content-collection":{
            "type":"string",
             "description":"application/vnd.ekstep.content-collection"
          }, 
          "application/octet-stream":{
            "type":"string",
             "description":"application/octet-stream"
          }, 
          "image/jpeg/jpg/png/bmp/tiff/gif/svg+xml/jpeg":{
            "type":"string",
             "description":"image/jpeg"
          },
          "video/avi/mpeg/3gpp/mp4/ogg/webm/quicktime":{
            "type":"string",
             "description":"video/avi"
          },
           "audio/mp3i/mp4/mpeg/ogg/webm/x-wav":{
            "type":"string",
             "description":"audio/mp3"
          }
        }
      },
      "domain":{
        "properties":{
          "numeracy":{
            "type":"string",
             "description":"numeracy"
          },
          "literacy":{
            "type":"string",
             "description":"literacy"
          }
        }
      },
      "templateType":{
         "properties":{
           "story":{
             "type":"string",
             "description":"story"
           },
           "worksheet":{
             "type":"string",
             "description":"worksheet"
           },
           "mcq":{
             "type":"string",
             "description":"mcq"
           },
           "ftb":{
             "type":"string",
             "description":"ftb"
           },
           "mtf":{
             "type":"string",
             "description":"mtf"
           },
           "recognition":{
             "type":"string",
             "description":"recognition"
           },
           "activity":{
             "type":"string",
             "description":"activity"
           },
           "widget":{
             "type":"string",
             "description":"widget"
           }
         }
      },
      "optStatus":{
         "properties":{
           "Pending":{
             "type":"string",
             "description":"Pending"
           },
           "Processing":{
             "type":"string",
             "description":"Processing"
           },
           "Error":{
             "type":"string",
             "description":"Error"
           },
           "Complete":{
             "type":"string",
             "description":"Complete"
           }
         }
      },
      "Feedback":{
         "properties":{
           "Right/Wrong":{
             "type":"string",
             "description":"Right/Wrong"
           },
           "Reflection":{
             "type":"string",
             "description":"Reflection"
           },
           "Learn from Mistakes":{
             "type":"string",
             "description":"Learn from Mistakes"
           },
            "Adaptive Feedback":{
             "type":"string",
             "description":"Adaptive Feedback"
           },
            "Interrupts":{
             "type":"string",
             "description":"Interrupts"
           },
            "Rich Feedback":{
             "type":"string",
             "description":"Rich Feedback"
           }
         }
      },
       "mediaType":{
         "properties":{
           "content":{
             "type":"string",
             "description":"content"
           },
           "collection":{
             "type":"string",
             "description":"colllection"
           },
           "image":{
             "type":"string",
             "description":"image"
           },
           "audio":{
             "type":"string",
             "description":"audio"
           },
            "voice":{
             "type":"string",
             "description":"voice"
           },
            "ecml":{
             "type":"string",
             "description":"ecml"
           },
            "document":{
             "type":"string",
             "description":"document"
           },
            "pdf":{
             "type":"string",
             "description":"pdf"
           },
            "text":{
             "type":"string",
             "description":"text"
           },
            "other":{
             "type":"string",
             "description":"other"
           }
         }
      },
      
       "contentType":{
         "properties":{
           "Story":{
             "type":"string",
             "description":"Story"
           },
           "worksheet":{
             "type":"string",
             "description":"worksheet"
           },
           "game":{
             "type":"string",
             "description":"game"
           },
           "simulation":{
             "type":"string",
             "description":"simulation"
           },
           "puzzle":{
             "type":"string",
             "description":"puzzle"
           },
           "diagnostic":{
             "type":"string",
             "description":"diagnostic"
           },
           "collection":{
             "type":"string",
             "description":"collection"
           },
           "asset":{
             "type":"string",
             "description":"asset"
           },
            "template":{
             "type":"string",
             "description":"template"
           }
         }
      },
       "visibility":{
         "properties":{
           "default":{
             "type":"string",
             "description":"default"
           },
           "parent":{
             "type":"string",
             "description":"parent"
           }
         }
      },
      "idealScreenSize":{
         "properties":{
           "small":{
             "type":"string",
             "description":"small"
           },
           "large":{
             "type":"string",
             "description":"large"
           },
           "normal":{
             "type":"string",
             "description":"normal"
           },
           "xlarge":{
             "type":"string",
             "description":"xlarge"
           },
           "other":{
             "type":"string",
             "description":"other"
           }
         }
      },
       "resources":{
         "properties":{
           "Speaker":{
             "type":"string",
             "description":"Speaker"
           },
           "Touch":{
             "type":"string",
             "description":"Touch"
           },
           "Microphone":{
             "type":"string",
             "description":"Microphone"
           },
           "GPS":{
             "type":"string",
             "description":"GPS"
           },
           "Motion Sensor":{
             "type":"string",
             "description":"Motion Sensor"
           },
           "Compass":{
             "type":"string",
             "description":"Compass"
           }
         }
      },
      "skills":{
         "properties":{
           "Listening":{
             "type":"string",
             "description":"Listening"
           },
           "Speaking":{
             "type":"string",
             "description":"Speaking"
           },
           "Reading":{
             "type":"string",
             "description":"Reading"
           },
           "Writing":{
             "type":"string",
             "description":"Writing"
           },
           "Touch":{
             "type":"string",
             "description":"Touch"
           },
           "Gestures":{
             "type":"string",
             "description":"Gestures"
           },
           "Draw":{
             "type":"string",
             "description":"Draw"
           }
         }
      },
      "genre":{
         "properties":{
           "Picture Books":{
             "type":"string",
             "description":"Picture Books"
           },
           "Chapter Books":{
             "type":"string",
             "description":"Chapter Books"
           },
           "Flash Cards":{
             "type":"string",
             "description":"Error"
           },
           "Serial Books":{
             "type":"string",
             "description":"Serial Books"
           },
           "Alphabet Books":{
             "type":"string",
             "description":"Alphabet Books"
           },
           "Folktales":{
             "type":"string",
             "description":"Folktales"
           },
           "Fiction":{
             "type":"string",
             "description":"Fiction"
           },
           "Non-Fiction":{
             "type":"string",
             "description":"Non-Fiction"
           },
           "Poems/Rhymes":{
             "type":"string",
             "description":"Poems/Rhymes"
           },
            "Plays":{
             "type":"string",
             "description":"Plays"
           },
            "Comics":{
             "type":"string",
             "description":"Comics"
           },
            "words":{
             "type":"string",
             "description":"words"
           }
         }
      },
      
      "resourcebundles":{
         "type":"object",
         "properties":{
           "Serial Books":{
             "type":"string",
             "description":"Serial Books"
           },
           "objects":{
             "type":"string",
             "description":"Objects Used in the Content"
           },
           "downloadUrl":{
             "type":"string",
             "description":"Download Url"
           },
           "Adaptive Feedback":{
              "type":"string",
              "description":"Adaptive Feedback"
           },
           "iOS":{
             "type":"string",
             "description":"iOS"
           },
           "skils":{
             "type":"string",
             "description":"skils required"
           },
           "History":{
             "type":"string",
             "description":"History"
           },
           "xxxhdpi":{
             "type":"string",
             "description":"xxxhdpi"
           },
           "audio/mp3":{
             "type":"string",
             "description":"audio/mp3"
           },
           "Kannada":{
             "type":"string",
             "description":"Kannada"
           },
           "Learn from Mistakes":{
             "type":"string",
             "description":"Learn from Mistakes"
           },
           "Story":{
             "type":"string",
             "description":"Story"
           },
           "audio/mp4":{
             "type":"string",
             "description":"audio/mp4"
           },
           "Tutorial":{
             "type":"string",
             "description":"Tutorial"
           },
           "video/avi":{
             "type":"string",
             "description":"video/avi"
           },
           "7-8":{
             "type":"string",
             "description":"7-8"
           },
           "scaffolding":{
             "type":"string",
             "description":"scaffolding"
           },
           "Urdu":{
             "type":"string",
             "description":"Urdu"
           },
           "minSupportedVersion":{
             "type":"string",
             "description":"min Supported Version"
           },
           "Kindergarten":{
             "type":"string",
             "description":"Kindergarten"
           },
           "osId":{
             "type":"string",
             "description":"operating system Id"
           },
           "version":{
             "type":"string",
             "description":"version"
           },
           "Poems/Rhymes":{
             "type":"string",
             "description":"Poems/Rhymes"
           },
           "quality":{
             "type":"string",
             "description":"quality"
           },
           "optStatus":{
             "type":"string",
             "description":"optimization status"
           },
           "interactivityLevel":{
             "type":"string",
             "description":"Interactivity Level"
           },
            "Gujarati":{
             "type":"string",
             "description":"Gujarati"
           },
            "Game":{
             "type":"string",
             "description":"Game"
           },
            "size":{
             "type":"string",
             "description":"Download File Size (in bytes)"
           },
            "lastPublishedOn":{
             "type":"string",
             "description":"last Published On"
           },
            "concepts":{
             "type":"string",
             "description":"concepts"
           },
            "domain":{
             "type":"string",
             "description":"domain"
           },
            "video/quicktime":{
             "type":"string",
             "description":"video/quicktime"
           },
            "video/mp4":{
             "type":"string",
             "description":"video/mp4"
           },
            "Art":{
             "type":"string",
             "description":"Art"
           },
            "grayScaleAppIcon":{
             "type":"string",
             "description":"gray Scale App Icon"
           },
            "video/webm":{
             "type":"string",
             "description":"video/webm"
           },
            "activity":{
             "type":"string",
             "description":"activity"
           },
            "Textual":{
             "type":"string",
             "description":"Textual"
           },
            "imageCredits":{
             "type":"string",
             "description":"image Credits"
           },
            "document":{
             "type":"string",
             "description":"document"
           },
            "posterImage":{
             "type":"string",
             "description":"poster Image"
           },
            "Holidays":{
             "type":"string",
             "description":"Holidays"
           },
            "Right/Wrong":{
             "type":"string",
             "description":"Right/Wrong"
           },
            "Listening":{
             "type":"string",
             "description":"Listening"
           },
            "popularity":{
             "type":"string",
             "description":"popularity"
           },
            "genre":{
             "type":"string",
             "description":"genre"
           },
            "audio":{
             "type":"string",
             "description":"audio"
           },
            "Speaker":{
             "type":"string",
             "description":"Speaker"
           },
            "6-7":{
             "type":"string",
             "description":"6-7"
           },
            "Nature":{
             "type":"string",
             "description":"Nature"
           },
            "Rural":{
             "type":"string",
             "description":"Rural"
           },
            "loadingMessage":{
             "type":"string",
             "description":"loading Message"
           },
            "Creative Commons Attribution (CC BY)":{
             "type":"string",
             "description":"Creative Commons Attribution (CC BY)"
           },
            "video/3gpp":{
             "type":"string",
             "description":"video/3gpp"
           },
            "words":{
             "type":"string",
             "description":"words"
           },
            "Tamil":{
             "type":"string",
             "description":"Tamil"
           },
            "Speaking":{
             "type":"string",
             "description":"Speaking"
           },
            "idealScreenDensity":{
             "type":"string",
             "description":"Ideal Screen Density (dots per inch)"
           },
            "Draft":{
             "type":"string",
             "description":"Draft"
           },
            "video/mpeg":{
             "type":"string",
             "description":"video/mpeg"
           }, 
            "Music":{
             "type":"string",
             "description":"Music"
           }, 
            "Life Skills":{
             "type":"string",
             "description":"Life Skills"
           }, 
            "Writing":{
             "type":"string",
             "description":"Writing"
           }, 
            "learningObjective":{
             "type":"string",
             "description":"learning Objective"
           }, 
            "application/vnd.ekstep.content-archive":{
             "type":"string",
             "description":"application/vnd.ekstep.content-archive"
           }, 
            "Creative Commons Attribution-ShareAlike (CC BY-SA)":{
             "type":"string",
             "description":"Creative Commons Attribution-ShareAlike (CC BY-SA)"
           }, 
            "State Curriculum":{
             "type":"string",
             "description":"State Curriculum"
           }, 
            "image/gif":{
             "type":"string",
             "description":"image/gif"
           }, 
            "language":{
             "type":"string",
             "description":"language"
           }, 
            "mimeType":{
             "type":"string",
             "description":"mimeType"
           }, 
            "source":{
             "type":"string",
             "description":"source"
           }, 
            "GPS":{
             "type":"string",
             "description":"GPS"
           }, 
            "lastSubmittedBy":{
             "type":"string",
             "description":"Submittedfor review By"
           }, 
            "appIcon":{
             "type":"string",
             "description":"app Icon"
           }, 
            "ecml":{
             "type":"string",
             "description":"ecml"
           }, 
            "artifactUrl":{
             "type":"string",
             "description":"artifactUrl"
           }, 
            "video/ogg":{
             "type":"string",
             "description":"video/ogg"
           }, 
            "Non-Fiction":{
             "type":"string",
             "description":"Non-Fiction"
           }, 
            "image":{
             "type":"string",
             "description":"image"
           }, 
            "visibility":{
             "type":"string",
             "description":"visibility"
           }, 
            "Free Art License":{
             "type":"string",
             "description":"Free Art License"
           }, 
            "xhdpi":{
             "type":"string",
             "description":"xhdpi"
           },
            "mediaType":{
             "type":"string",
             "description":"mediaType"
           }, 
            "collection":{
             "type":"string",
             "description":"collection"
           }, 
            "Interrupts":{
             "type":"string",
             "description":"Interrupts"
           }, 
            "Motion Sensor":{
             "type":"string",
             "description":"Motion Sensor"
           }, 
            "Medium":{
             "type":"string",
             "description":"Medium"
           }, 
            "name":{
             "type":"string",
             "description":"name"
           }, 
            "image/jpg":{
             "type":"string",
             "description":"image/jpg"
           }, 
            "numeracy":{
             "type":"string",
             "description":"numeracy"
           }, 
            "attributions":{
             "type":"string",
             "description":"owner"
           }, 
            "Oriya":{
             "type":"string",
             "description":"Oriya"
           }, 
            "activity_class":{
             "type":"string",
             "description":"activity_class"
           }, 
            "application/vnd.ekstep.html-archive":{
             "type":"string",
             "description":"application/vnd.ekstep.html-archive"
           }, 
            "Parent":{
             "type":"string",
             "description":"Parent"
           }, 
            "Folktales":{
             "type":"string",
             "description":"Folktales"
           }, 
            "description":{
             "type":"string",
             "description":"description"
           }, 
            "Review":{
             "type":"string",
             "description":"Review"
           }, 
            "video":{
             "type":"string",
             "description":"video"
           }, 
            "ICSE":{
             "type":"string",
             "description":"ICSE"
           }, 
            "Processing":{
             "type":"string",
             "description":"Processing"
           }, 
            "Creative Commons Zero (CC0)":{
             "type":"string",
             "description":"Creative Commons Zero (CC0)"
           }, 
            ">10":{
             "type":"string",
             "description":">10"
           }, 
            "owner":{
             "type":"string",
             "description":"owner"
           }, 
            "Redraft":{
             "type":"string",
             "description":"Redraft"
           }, 
            "teachingMode":{
             "type":"string",
             "description":"teachingMode"
           }, 
            "Adventure":{
             "type":"string",
             "description":"Adventure"
           }, 
            "minGenieVersion":{
             "type":"string",
             "description":"minGenieVersion"
           }, 
            "CBSE":{
             "type":"string",
             "description":"CBSE"
           }, 
            "Guidance":{
             "type":"string",
             "description":"Guidance"
           }, 
            "pdf":{
             "type":"string",
             "description":"pdf"
           }, 
            "createdBy":{
             "type":"string",
             "description":"createdBy"
           }, 
            "worksheet":{
             "type":"string",
             "description":"worksheet"
           }, 
            "Flagged":{
             "type":"string",
             "description":"Flagged"
           }, 
            "templateType":{
             "type":"string",
             "description":"template Type"
           }, 
            "copyright":{
             "type":"string",
             "description":"copyright"
           }, 
            "Plays":{
             "type":"string",
             "description":"Plays"
           }, 
            "voiceCredits":{
             "type":"string",
             "description":"voiceCredits"
           }, 
            "School Stories":{
             "type":"string",
             "description":"School Stories"
           }, 
            "editorState":{
             "type":"string",
             "description":"editorState"
           }, 
            "releaseNotes":{
             "type":"string",
             "description":"releaseNotes"
           }, 
            "NCERT":{
             "type":"string",
             "description":"NCERT"
           }, 
            "collaborators":{
             "type":"string",
             "description":"collaborators"
           }, 
            "Asset":{
             "type":"string",
             "description":"Asset"
           }, 
            "translatable":{
             "type":"string",
             "description":"translatable"
           }, 
            "Retired":{
             "type":"string",
             "description":"Retired"
           }, 
            "xlarge":{
             "type":"string",
             "description":"xlarge"
           }, 
            "Live":{
             "type":"string",
             "description":"Live"
           },
           "Compass":{
             "type":"string",
             "description":"Compass"
           }, 
            "Bengali":{
             "type":"string",
             "description":"Bengali"
           }, 
            "Against DRM license":{
             "type":"string",
             "description":"Against DRM license"
           }, 
            "Low":{
             "type":"string",
             "description":"Low"
           }, 
            "Scary":{
             "type":"string",
             "description":"Scary"
           }, 
            "forkable":{
             "type":"string",
             "description":"forkable"
           }, 
            "Comics":{
             "type":"string",
             "description":"Comics"
           }, 
            "Fiction":{
             "type":"string",
             "description":"Fiction"
           }, 
            "widget":{
             "type":"string",
             "description":"widget"
           }, 
            "Open Game License":{
             "type":"string",
             "description":"Open Game License"
           }, 
            "Grade 2":{
             "type":"string",
             "description":"Grade 2"
           }, 
            "Microphone":{
             "type":"string",
             "description":"Microphone"
           }, 
            "checksum":{
             "type":"string",
             "description":"checksum"
           }, 
            "pkgVersion":{
             "type":"string",
             "description":"pkgVersion"
           }
         }
      },
      "ResponseParams": {
      "title": "Response Parameter",
      "type": "object",
      "properties": {
        "resmsgid": {
          "type": "string",
          "description": "Response Message Id"
        },
        "msgid": {
          "type": "string",
          "description": "Message Id"
        },
        "err": {
          "type": "string",
          "description": "Error Code"
        },
        "status": {
          "type": "string",
          "description": "Response Status"
        },
        "errmsg": {
          "type": "string",
          "description": "Error Message"
        }
      }
    },
    "FailedResponseHeader": {
      "title": "Failure Response",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "API Identifier"
        },
        "ver": {
          "type": "string",
          "description": "API version information"
        },
        "ts": {
          "type": "string",
          "description": "API execution timespan"
        },
        "params": {
          "$ref": "#/definitions/FailedResponseParams"
        },
        "responseCode": {
          "type": "string",
          "description": "responseCode"
        }
      }
    },
    "FailedResponseParams": {
      "title": "Failed Response Parameter",
      "type": "object",
      "properties": {
        "resmsgid": {
          "type": "string",
          "description": "Response Message Id"
        },
        "msgid": {
          "type": "string",
          "description": "Message Id"
        },
        "err": {
          "type": "string",
          "description": "Error Code"
        },
        "status": {
          "type": "string",
          "description": "Response Status"
        },
        "errmsg": {
          "type": "string",
          "description": "Error Message"
        }
      }
    }
  }
}