<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.sunbird">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <Async name="ConsoleAsync">
            <AppenderRef ref="Console" />
        </Async>
        <RollingFile name="DefaultLogAppender" fileName="logs/content_tool_mw.log"
                     filePattern="logs/content_tool_mw-%d{MM-dd-yyyy-hh}-%i.log">
            <PatternLayout>
                <Pattern>%d %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB" />
                <TimeBasedTriggeringPolicy interval="24"
                                           modulate="true" />
                <OnStartupTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="content_tool_mw-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Async name="DefaultLogAppenderAsync">
            <AppenderRef ref="DefaultLogAppender" />
        </Async>
        <RollingFile name="PerfLogAppender" fileName="logs/content_tool_perf_mw.log"
                     filePattern="logs/content_tool_perf_mw-%d{MM-dd-yyyy-hh}-%i.log">
            <PatternLayout>
                <Pattern>%d [%t] - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB" />
                <TimeBasedTriggeringPolicy interval="24"
                                           modulate="true" />
                <OnStartupTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="content_tool_perf_mw-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Async name="PerfLogAppenderAsync">
            <AppenderRef ref="PerfLogAppender" />
        </Async>
        <RollingRandomAccessFile name="TelemetryEventAppender"
                                 fileName="logs/content_tool_telemetry_mw.log"
                                 filePattern="logs/content_tool_telemetry_mw-%d{MM-dd-yyyy-hh}-%i.log">
            <PatternLayout>
                <Pattern>%d %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB" />
                <TimeBasedTriggeringPolicy interval="24"
                                           modulate="true" />
                <OnStartupTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs/" maxDepth="1" testMode="false">
                    <IfFileName glob="content_tool_telemetry_mw-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <Async name="TelemetryEventAppenderAsync">
            <AppenderRef ref="TelemetryEventAppender" />
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="TelemetryEventLogger" level="INFO" additivity="false">
            <AppenderRef ref="TelemetryEventAppenderAsync" />
        </Logger>
        <Logger name="PerformanceTestLogger" level="INFO" additivity="false">
            <AppenderRef ref="PerfLogAppenderAsync" />
        </Logger>
        <Logger name="DefaultPlatformLogger" level="INFO" additivity="false">
            <AppenderRef ref="DefaultLogAppenderAsync" />
        </Logger>
    </Loggers>
</Configuration>