<div class="MywallActivity">
    <div class=" wallActivityHeader">
        <div class="editContent">
            <div class="headerAsk" id="activityStream">
                <h2>Explore {{taxonomies[selectedTaxonomyId].metadata.name}}
                <a href="javascript:void(0);" class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Add new concept"  data-original-title="Add new concept">
					<i class="writeBlackOne fa fa-edit" id="writeIcon" onclick="openCreateArea(this, 'fa-edit');"></i></a>
                </h2>
            </div>
            <div class="col-md-12 noPad borderBottom textEditor marginTop20 form-group" id="il-Txt-Editor" style="display:none;">
            	<div class="col-md-12 noPad">
	            	<div class="form-group col-md-6 required">
	            		<label class="control-label">Type</label>
	            		<select ng-model="newConcept.objectType" class="form-control" ng-options="obj.label for obj in taxonomyObjects" ng-change="newConcept.parent = undefined">
	                    </select>
	            	</div>
	            	<div class="form-group col-md-6 required" ng-if="newConcept.objectType.id != 'concept'">
	            		<label class="control-label">Select Parent ({{newConcept.objectType.id == 'subConcept' ? 'Broad Concept': 'Sub Concept'}})</label>
	            		<select ng-model="newConcept.parent" class="form-control" ng-options="obj.name for obj in allConcepts" ng-if="newConcept.objectType.id == 'subConcept'">
	                    </select>
	                    <select ng-model="newConcept.parent" class="form-control" ng-options="obj.name for obj in allSubConcepts" ng-if="newConcept.objectType.id == 'microConcept'">
	                    </select>
	            	</div>
	            	<div class="form-group col-md-6 required">
	            		<label class="control-label">Name</label>
	            		<input type="text" ng-model="newConcept.name" class="form-control"/>
	            	</div>
	            	<div class="form-group col-md-6 required">
	            		<label class="control-label">Code</label>
	            		<input type="text" ng-model="newConcept.code" class="form-control"/>
	            	</div>
	            	<div class="form-group col-md-6">
	            		<label>Description</label>
	            		<textarea class="form-control" rows="4" ng-model="newConcept.description"></textarea>
	            	</div>
            	</div>
            	<div class="col-md-12 padBottom">
            		<div class="alert alert-danger" ng-show="newConcept.errorMessages.length > 0">
						Error creating concept. Following are the failed validations
						<ul style="padding-left: 25px;list-style:disc outside none">
							<li ng-repeat="error in newConcept.errorMessages">{{error}}</li>
						</ul>
					</div>
            		<button class="btn btn-primary pull-right" ng-click="createConcept($event)" data-loading-text="Creating concept...">Create</button>
            	</div>
            </div>
            <div class="col-md-12 noPad padTop">
            	<div class="btn-group btn-group-xs pull-right selectVisualization" role="group" style="position: absolute; top: 10px; right: 0px; z-index: 1000">
				  	<button type="button" class="btn btn-default" ng-click="selectVisualization('sunburst')" ng-if="!showSunburst"><i class="fa fa-bullseye"></i></button>
				  	<button type="button" class="btn btn-default active" ng-if="showSunburst"><i class="fa fa-bullseye"></i></button>
				  	<button type="button" class="btn btn-default active" ng-if="showTree"><i class="fa fa-sitemap fa-rotate-270"></i></button>
				  	<button type="button" class="btn btn-default" ng-click="selectVisualization('tree')" ng-if="!showTree"><i class="fa fa-sitemap fa-rotate-270"></i></button>
				</div>
            </div>
            <div class="col-md-12 feature-soft-cont feature-soft" ng-if="showSunburst">
		        <div id="sunburst" class="sunburst-pad" sunburst data="data" cid="conceptId" style="width: 500px;margin: auto">
		        	<span class="text-center" ng-hide="sunburstLoaded">Loading <i class="fa fa-spinner fa-spin"/></span>
		        </div>
		    </div>
		    <div class="col-md-12 feature-soft-cont feature-soft treeContainer" ng-show="showTree">
		    	<div id="treeLayout" class="treeLayout"></div>
		    </div>
		    <div class="col-md-12 noPad padBottom">
		    	<h3>{{hoveredConcept.name}}</h3>
                <ul class="feature-list-glanceitems col-md-12">
                    <li ng-if="hoveredConcept.level < 1">
                        <h3 class="ng-binding">{{hoveredConcept.concepts}}</h3>
                        <span>Broad Concepts</span>
                    </li>
                    <li ng-if="hoveredConcept.level < 2">
                        <h3 class="ng-binding">{{hoveredConcept.subConcepts}}</h3>
                        <span>Sub Concepts</span>
                    </li>
                    <li ng-if="hoveredConcept.level < 3">
                        <h3 class="ng-binding">{{hoveredConcept.microConcepts}}</h3>
                        <span>Micro Concepts</span>
                    </li>
                    <li>
                        <h3 class="ng-binding">5</h3>
                        <span>Games</span>
                    </li>
                </ul>
            </div>
            <br/>
            <div ng-include="'metadata_categories_template.html'"></div>
        </div>
    </div>
</div>

<div ng-include="'save_confirmation_template.html'"></div>

