- name: Create the directory
  file: path={{ redis_backup_dir }} state=directory recurse=yes
  

- set_fact:
    redis_backup_file_name: "redis-backup-{{ lookup('pipe', 'date +%Y-%m-%d-%T') }}.rdb"
 
- set_fact:
    redis_backup_file_path: "{{ redis_backup_dir }}/{{ redis_backup_file_name }}"


- name: copy dump.rdb file
  copy:
    src: "{{ redis_data_dir }}/dump.rdb"
    dest: "{{ redis_backup_dir }}/{{ redis_backup_file_name }}"
    remote_src: yes
    

- name: upload to azure
  include_role:
    name: artifacts-upload-azure
  vars:
    artifact: "{{ redis_backup_file_name }}"
    artifact_path: "{{ redis_backup_file_path }}"
    artifacts_container: "{{ redis_backup_azure_container_name }}"

- name: upload file to gcloud storage
  include_role:
    name: gcp-cloud-storage
    tasks_from: upload.yml
  vars:
    gcp_bucket_name: "{{ gcloud_management_bucket_name }}"
    dest_folder_name: "{{ redis_backup_storage }}"
    dest_file_name: "{{ redis_backup_file_name }}"
    local_file_or_folder_path: "{{ redis_backup_file_path }}"
  when: cloud_service_provider == "gcloud"
   
- name: clean up backup dir after upload
  file: path={{ redis_backup_dir }} state=absent

- name: Keyspace info
  shell: "echo info keyspace | ./src/redis-cli"
  register: restoreinfo
  args:
    chdir: "{{ redis_dir }}"

- debug: var=restoreinfo.stdout_lines

