- hosts: local
  gather_facts: false
  tasks:
  - name: Downloading neo4j
    get_url:
      url: "https://neo4j.com/artifact.php?name={{ neo4j_zip }}"
      dest: "{{ playbook_dir }}/artifacts/{{ neo4j_zip }}"

- hosts: learning-neo4j-cluster
  vars_files:
    - "{{inventory_dir}}/secrets.yml"
  pre_tasks:
    - name: Create learner group
      become: yes
      group:
        state: present
        name: "{{ learner_group }}"
        system: yes
    - name: Create learner user
      become: yes
      user:
        state: present
        name: "{{ learner_user }}"
        comment: learner user
        system: yes
        createhome: yes
        group: "{{ learner_group }}"
    - name: Registering server_id
      set_fact:
        server_id: "{% for servername in play_hosts %}{% if inventory_hostname==servername %}{{ loop.index }}{% endif %}{% endfor %}"
  become: yes
  roles:
    - jdk-1.8.0_121
    - neo4j-cluster
    - logstash
