#!/bin/bash
ssh -o "StrictHostKeyChecking no" {{user}}@{{neo4j_machine1}}
scp -r -i /home/ec2-user/learning-platform.pem /data/graphDB/{{graph_machine}} {{user}}@{{neo4j_machine1}}:/home/{{user}}/
ssh -o "StrictHostKeyChecking no" {{user}}@{{neo4j_machine2}}
scp -r -i /home/ec2-user/learning-platform.pem /data/graphDB/{{graph_machine}} {{user}}@{{neo4j_machine2}}:/home/{{user}}/


