{
  "settings": {
    "index": {
      "index": "lp_suggestion_index_v1",
      "type": "sg",
      "analysis": {
        "analyzer": {
          "sg_index_analyzer": {
            "type": "custom",
            "tokenizer": "standard",
            "filter": [
              "lowercase",
              "mynGram"
            ]
          },
          "sg_search_analyzer": {
            "type": "custom",
            "tokenizer": "standard",
            "filter": [
              "standard",
              "lowercase"
            ]
          },
          "keylower": {
            "tokenizer": "keyword",
            "filter": "lowercase"
          }
        },
        "filter": {
          "mynGram": {
            "type": "nGram",
            "min_gram": 1,
            "max_gram": 20,
            "token_chars": [
              "letter",
              "digit",
              "whitespace",
              "punctuation",
              "symbol"
            ]
          }
        }
      }
    }
  },
  "mappings": {
    "sg": {
      "dynamic_templates": [
        {
          "longs": {
            "match_mapping_type": "long",
            "mapping": {
              "type": "long",
              "fields": {
                "raw": {
                  "type": "long"
                }
              }
            }
          }
        },
        {
          "booleans": {
            "match_mapping_type": "boolean",
            "mapping": {
              "type": "boolean",
              "fields": {
                "raw": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        {
          "doubles": {
            "match_mapping_type": "double",
            "mapping": {
              "type": "double",
              "fields": {
                "raw": {
                  "type": "double"
                }
              }
            }
          }
        },
        {
          "dates": {
            "match_mapping_type": "date",
            "mapping": {
              "type": "date",
              "fields": {
                "raw": {
                  "type": "date"
                }
              }
            }
          }
        },
        {
          "strings": {
            "match_mapping_type": "string",
            "mapping": {
              "type": "string",
              "copy_to": "all_fields",
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              }
            }
          }
        }
      ],
      "properties": {
        "all_fields": {
          "type": "string",
          "analyzer": "sg_index_analyzer",
          "search_analyzer": "sg_search_analyzer",
          "fields": {
            "raw": {
              "type": "string",
              "analyzer": "keylower"
            }
          }
        },
        "command": {
          "type": "string",
          "fields": {
            "raw": {
              "type": "string",
              "analyzer": "keylower"
            }
          },
          "copy_to": [
            "all_fields"
          ],
          "analyzer": "sg_index_analyzer",
          "search_analyzer": "sg_search_analyzer"
        },
        "comment": {
          "type": "string",
          "fields": {
            "raw": {
              "type": "string",
              "analyzer": "keylower"
            }
          },
          "copy_to": [
            "all_fields"
          ],
          "analyzer": "sg_index_analyzer",
          "search_analyzer": "sg_search_analyzer"
        },
        "comments": {
          "type": "string",
          "fields": {
            "raw": {
              "type": "string",
              "analyzer": "keylower"
            }
          },
          "copy_to": [
            "all_fields"
          ],
          "analyzer": "sg_index_analyzer",
          "search_analyzer": "sg_search_analyzer"
        },
        "createdOn": {
          "type": "date",
          "fields": {
            "raw": {
              "type": "date",
              "format": "strict_date_optional_time||epoch_millis"
            }
          },
          "format": "strict_date_optional_time||epoch_millis"
        },
        "es_metadata_id": {
          "type": "string",
          "fields": {
            "raw": {
              "type": "string",
              "analyzer": "keylower"
            }
          },
          "copy_to": [
            "all_fields"
          ],
          "analyzer": "sg_index_analyzer",
          "search_analyzer": "sg_search_analyzer"
        },
        "lastUpdatedBy": {
          "type": "string",
          "fields": {
            "raw": {
              "type": "string",
              "analyzer": "keylower"
            }
          },
          "copy_to": [
            "all_fields"
          ],
          "analyzer": "sg_index_analyzer",
          "search_analyzer": "sg_search_analyzer"
        },
        "objectId": {
          "type": "string",
          "fields": {
            "raw": {
              "type": "string",
              "analyzer": "keylower"
            }
          },
          "copy_to": [
            "all_fields"
          ],
          "analyzer": "sg_index_analyzer",
          "search_analyzer": "sg_search_analyzer"
        },
        "objectType": {
          "type": "string",
          "fields": {
            "raw": {
              "type": "string",
              "analyzer": "keylower"
            }
          },
          "copy_to": [
            "all_fields"
          ],
          "analyzer": "sg_index_analyzer",
          "search_analyzer": "sg_search_analyzer"
        },
        "params": {
          "properties": {
            "Language": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "ageGroup": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "ageGrups": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "attributions": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "audience": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "code": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "concepts": {
              "properties": {
                "description": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                },
                "identifier": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                },
                "name": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                },
                "objectType": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                },
                "relation": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                },
                "relationName": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                }
              }
            },
            "description": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "domain": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "domains": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "genre": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "gradeLevel": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "language": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "medium": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "methods": {
              "properties": {
                "description": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                },
                "identifier": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                },
                "name": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                },
                "objectType": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                },
                "relation": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                },
                "relationName": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                }
              }
            },
            "name": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "subject": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "tags": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            },
            "templateType": {
              "type": "string",
              "fields": {
                "raw": {
                  "type": "string",
                  "analyzer": "keylower"
                }
              },
              "copy_to": [
                "all_fields"
              ],
              "analyzer": "sg_index_analyzer",
              "search_analyzer": "sg_search_analyzer"
            }
          }
        },
        "request": {
          "properties": {
            "content": {
              "properties": {
                "comments": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                },
                "status": {
                  "type": "string",
                  "fields": {
                    "raw": {
                      "type": "string",
                      "analyzer": "keylower"
                    }
                  },
                  "copy_to": [
                    "all_fields"
                  ],
                  "analyzer": "sg_index_analyzer",
                  "search_analyzer": "sg_search_analyzer"
                }
              }
            }
          }
        },
        "status": {
          "type": "string",
          "fields": {
            "raw": {
              "type": "string",
              "analyzer": "keylower"
            }
          },
          "copy_to": [
            "all_fields"
          ],
          "analyzer": "sg_index_analyzer",
          "search_analyzer": "sg_search_analyzer"
        },
        "suggestedBy": {
          "type": "string",
          "fields": {
            "raw": {
              "type": "string",
              "analyzer": "keylower"
            }
          },
          "copy_to": [
            "all_fields"
          ],
          "analyzer": "sg_index_analyzer",
          "search_analyzer": "sg_search_analyzer"
        },
        "suggestion_id": {
          "type": "string",
          "fields": {
            "raw": {
              "type": "string",
              "analyzer": "keylower"
            }
          },
          "copy_to": [
            "all_fields"
          ],
          "analyzer": "sg_index_analyzer",
          "search_analyzer": "sg_search_analyzer"
        }
      }
    }
  }
}