<!-- ~ Copyright (C) 2009-2015 Typesafe Inc. <http://www.typesafe.com> -->
<!-- The default logback configuration that Play uses if no other configuration 
	is provided -->
<configuration>

	<conversionRule conversionWord="coloredLevel"
		converterClass="play.api.Logger$ColoredLevel" />

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${application.home:-.}/logs/application.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- Daily rollover with compression -->
			<fileNamePattern>application-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
			<!-- keep 30 days worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} [%level] %thread - %message%n%xException</pattern>
		</encoder>
	</appender>

	<appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE" />
	</appender>

	<appender name="ACCESS_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${application.home:-.}/logs/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- Daily rollover with compression -->
			<fileNamePattern>access-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
			<!-- keep 30 days worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} %message%n</pattern>
        </encoder>
    </appender>


	<logger name="play" level="INFO" />
	<logger name="application" level="DEBUG" />

	<!-- Off these ones as they are annoying, and anyway we manage configuration 
		ourself -->
	<logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
	<logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader"
		level="OFF" />
	<logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread"
		level="OFF" />
	<logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

	<logger name="accesslog" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_LOG_FILE" />
    </logger>

	<root level="WARN">
		<appender-ref ref="ASYNCFILE" />
	</root>

</configuration>