<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.ekstep.intent.service.plugin"
    version="0.0.1">
    <name>Intent Service</name>
    <description>Intent Service Plugin to work with intents</description>
    <license>Apache 2.0</license>
    <keywords>Intent Service Plugin</keywords>
    <repo></repo>
    <issue></issue>
    <js-module src="www/IntentService.js" name="IntentService">
        <clobbers target="IntentService" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IntentService" >
                <param name="android-package" value="IntentService"/>
            </feature>
        </config-file>
        <source-file src="src/android/IntentService.java" target-dir="src/" />
    </platform>
</plugin>
