[Unit]
Description=logstash Daemon

[Service]
Type=simple
User={{learner_user}}
Group={{learner_user}}
LimitNOFILE=32768
Restart=on-failure
Environment="{{ logstash_java_home }}"
ExecStart={{logstash_home}}/bin/logstash -f {{logstash_home}}/logstash-lp.conf -w 1 --verbose

[Install]
WantedBy=multi-user.target
